INSERT INTO [Elmed].[dbo].[AttachedPeople] (
[ID] ,[PRIZNAK],[SNILS],[INN],[Fam],[Im],[Ot],[DR],[MROGDEN],[VZ],
[W],[UDL_DOC],[UDL_SER_NUM],[UDL_VIDAN],[UDL_VIDAN_DATA],
[RASPRIN],[SEM_POL],[KOL_DAY],[URV_OBR],[MES_RAB],[DOLGNOST],[HAR_TRUD],[NAL_VRED]
,[SOC_PROF_GRUPP],[OMS],[POL_DMS],[DOG_PL_MED_USL],[DZ], Uchastok)
SELECT NEWID() ID, NULL [PRIZNAK], NULL [SNILS], NULL [INN],FAM, IM, OT, DR, NULL [MROGDEN], NULL [VZ], 
[W], NULL [UDL_DOC], NULL [UDL_SER_NUM], NULL [UDL_VIDAN], NULL [UDL_VIDAN_DATA],
NULL [RASPRIN],NULL [SEM_POL],NULL [KOL_DAY],NULL [URV_OBR],NULL [MES_RAB],NULL [DOLGNOST],NULL [HAR_TRUD],NULL [NAL_VRED],
NULL [SOC_PROF_GRUPP],1 [OMS],NULL [POL_DMS],NULL [DOG_PL_MED_USL],dz_460026 [DZ], Uchastok
FROM PRIKNAS.dbo.PerepisByRMS 
WHERE kodlpu = '460026' 


INSERT INTO AttachedAdress
 (ID_People,   REGION,          GOROD,          UL,DOM,KORP,KV,[RN_OLD],[NASPUNKT_OLD],[UL_OLD],[DOM_OLD],[KORP_OLD],[KV_OLD])
SELECT ap.ID, '4600000000000', '4600000100000', pbr.CODE, pbr.DOM, pbr.KORP, pbr.KV
, pbr.RN, pbr.NASPUNKT, pbr.UL, pbr.DOM, pbr.KORP, pbr.KV
FROM (
SELECT *
FROM PRIKNAS.dbo.PerepisByRMS AS pbr
WHERE pbr.kodlpu = '460026' AND pbr.CODE IS NULL) pbr
INNER JOIN Elmed.dbo.AttachedPeople AS ap 
ON ap.FAM = pbr.FAM AND ap.IM = pbr.IM AND ISNULL(ap.OT, '') = ISNULL(pbr.OT, '') AND ISNULL(ap.DR, '') = ISNULL(pbr.DR, '') 

INSERT INTO AttachedSmo (ID_People,Smo_Kod,TYPE_POL,SPol,NPol)
SELECT ap.ID,pbr.SMO_KOD, NULL TYPE_POL, NULL SPol, pbr.NPOL_460026
FROM [AttachedPeople] ap
INNER JOIN PRIKNAS.dbo.PerepisByRMS AS pbr 
ON ap.FAM = pbr.FAM AND ap.IM = pbr.IM AND ISNULL(ap.OT, '') = ISNULL(pbr.OT, '') AND ISNULL(ap.DR, '') = ISNULL(pbr.DR, '')
WHERE pbr.kodlpu = '460026' AND pbr.OT IS NULL 