INSERT INTO [ELMED_ONLINE].[dbo].[AttachedTableFix_ONLINE] ([ELMEDID]
      ,[ID_ENP]
      ,[ID_SMO]
      ,[ID_MO]
      ,[ID_DOCT]
      ,[HID]
      ,[x_Status]
      ,[DSTOP]
      ,[SrzPplId]
      ,[DFIX])
SELECT [ID]      
      ,[ID_ENP]
      ,[ID_SMO]
      ,[ID_MO]
      ,[ID_DOCT]
      ,[HID]
      ,[x_Status]
      ,[DSTOP]
      ,[SrzPplId]
      ,'20160601'
  FROM [ELMED_ONLINE].[dbo].[AttachedPeople_ONLINE]