--DECLARE @t TABLE (
--	[ID_SMO] [nvarchar](5) NULL,
--	[ID_DOCT] [int] NULL,
--	[Attach_Doct_Date] [datetime] NULL,
--	[TEMP_X0] [nvarchar](800) NULL,
--	[RBODY] [varbinary](max) NULL,
--	[ZBODY] [varbinary](max) NULL,
--	[SBODY] [varbinary](max) NULL
--) 

--INSERT INTO @t ( [ID_SMO],[ID_DOCT],[Attach_Doct_Date],TEMP_X0,[RBODY],[ZBODY],[SBODY])
SELECT [ID_SMO]
      ,[ID_DOCT]      
      ,CASE WHEN [RBODY] IS NOT NULL THEN dbo.FIO([RBODY]) ELSE '' END [RBODY]
,CASE WHEN [ZBODY] IS NOT NULL THEN dbo.FIO([ZBODY]) ELSE '' END [ZBODY]
,CASE WHEN [SBODY] IS NOT NULL THEN dbo.FIO([SBODY]) ELSE '' END [SBODY]
,dbo.DcDr2(TEMP_X0)TEMP_X0
      , acao.RN, acao.UL, acao.DOM, acao.KV
      ,(SELECT fi.FORMALNAME + ' ' + fi.SHORTNAME FROM FIAS_AddressObjects AS fi WHERE fi.AOGUID = ISNULL(apapo.[Rn], '00000000-0000-0000-0000-000000000000') AND LIVESTATUS = 1 and AOLEVEL = 3)[Rn]
      ,(SELECT fi.FORMALNAME + ' ' + fi.SHORTNAME FROM FIAS_AddressObjects AS fi WHERE fi.AOGUID = ISNULL([City], '00000000-0000-0000-0000-000000000000') AND LIVESTATUS = 1 and AOLEVEL = 4)[City]
      ,(SELECT fi.FORMALNAME + ' ' + fi.SHORTNAME FROM FIAS_AddressObjects AS fi WHERE fi.AOGUID = ISNULL([CityRn], '00000000-0000-0000-0000-000000000000') AND LIVESTATUS = 1 and AOLEVEL = 5)[CityRn]
      ,(SELECT fi.FORMALNAME + ' ' + fi.SHORTNAME FROM FIAS_AddressObjects AS fi WHERE fi.AOGUID = ISNULL([NasPun], '00000000-0000-0000-0000-000000000000')AND LIVESTATUS = 1 and AOLEVEL = 6)[NasPun]
      ,(SELECT fi.FORMALNAME + ' ' + fi.SHORTNAME FROM FIAS_AddressObjects AS fi WHERE fi.AOGUID = ISNULL(apapo.[Ul], '00000000-0000-0000-0000-000000000000') AND LIVESTATUS = 1 and AOLEVEL = 7)[Ul]
      ,(SELECT fi.FORMALNAME + ' ' + fi.SHORTNAME FROM FIAS_AddressObjects AS fi WHERE fi.AOGUID = ISNULL([DopUl], '00000000-0000-0000-0000-000000000000') AND LIVESTATUS = 1 and AOLEVEL in (90,91))[DopUl]
      ,[CustomHouse], apapo.KV,
      auo.Uchastok         
  FROM [ELMED_ONLINE].[dbo].[AttachedPeople_ONLINE] p
  LEFT JOIN AttachedCustomAdr_ONLINE AS acao ON acao.PID = p.ID
  LEFT JOIN AttachedPeopleAdrPro_ONLINE AS apapo ON apapo.PID = p.ID
  LEFT JOIN AttachedLpu_ONLINE AS alo ON alo.PID = p.ID
  JOIN AttachedUchastok_ONLINE AS auo ON auo.ID = alo.UCH_ID AND auo.hid = 17
WHERE p.hid = 17-- [RBODY] IS NOT NULL
AND DSTOP IS NULL
--AND CONVERT(DATETIME, dbo.DcDr2(TEMP_X0)) IN (1918,1921,1924,1927,1930,1933,1936,1939,1942,1945,1948,1951,1954,1957,1960,1963,1966,1969,1972,1975,1978,1981,1984,1987,1990,1993,1996)
