--UPDATE [AttachedPeople] SET ID_MEDRAB = pbr.СНИЛС_врача
--FROM [AttachedPeople] ap
--INNER JOIN prik AS pbr 
--ON ap.FAM = pbr.Фамилия AND ap.IM = pbr.Имя AND ISNULL(ap.OT, '') = ISNULL(pbr.Отчество, '') AND ISNULL(ap.DR, '') = ISNULL(pbr.Дата_рождения, '') 


SELECT *--ID
FROM(
SELECT [Elmed].[dbo].[AttachedPeople].ID, npol, Fam, Im, Ot, DR, dz, [Elmed].[dbo].[AttachedPeople].UCHASTOK, [Elmed].[dbo].[AttachedPeople].ID_MEDRAB, 'Курская область' region,
ISNULL((SELECT as2.name FROM Attached_KLADR AS as2 WHERE as2.CODE = aa.NASPUNKT ), aa.NASPUNKT_OLD)NASPUNKT,
ISNULL((SELECT as2.name FROM Attached_STREET AS as2 WHERE as2.CODE = aa.ul ), aa.UL_OLD)UL,
ISNULL( aa.DOM , aa.dom_OLD)dom,
ISNULL( aa.KORP , aa.KORP_OLD)KORP,
ISNULL( aa.KV , aa.KV_OLD)KV
FROM [Elmed].[dbo].[AttachedPeople]
LEFT JOIN [Elmed].dbo.AttachedSmo AS as1 ON ID_People = [Elmed].[dbo].[AttachedPeople].ID
LEFT JOIN AttachedAdress aa ON aa.ID_People = [Elmed].[dbo].[AttachedPeople].ID) AS t
WHERE t.UL IS NULL

--SELECT (SELECT as2.name FROM Attached_STREET AS as2 WHERE as2.CODE = aa.UL )
--FROM AttachedPeople AS ap
--LEFT JOIN AttachedAdress aa ON aa.ID_People = ap.ID
--WHERE ap.ID IN (SELECT id FROM tt_attached)