SELECT p.[ID]
      ,[ID_ENP]
      ,f.fam 
      ,f.im
      ,f.ot
      ,f.dr
      ,[ID_SMO]
      ,p.[ID_MO]
      ,(SELECT d.SNILS FROM AttachedUchDoct_ONLINE d WHERE d.ID = [ID_DOCT] AND d.HID = p.hid)
     ,[ID_DOCT]
      ,(SELECT u.Uchastok FROM AttachedUchastok_ONLINE u WHERE u.ID = lpu.UCH_ID)
      ,adr.REGION, adr.RN, adr.NASPUNKT, adr.UL, dom, adr.KORP, adr.KV
      ,[HID]   
  FROM [ELMED_ONLINE].[dbo].[AttachedPeople_ONLINE] p
  LEFT JOIN AttachedCustomAdr_ONLINE AS adr ON adr.PID = p.ID
  LEFT JOIN nachoit.elmedicine.dbo.fiodr f ON p.ID_ENP = f.enp
  LEFT JOIN AttachedLpu_ONLINE AS lpu ON lpu.PID = p.ID AND lpu.SCurrent = 1
WHERE p.ID_MO = 460034