SELECT spr.*, adr.REGION, adr.RN, adr.NASPUNKT, adr.UL, adr.DOM
FROM [ELMED_ONLINE].[dbo].[AttachedPeople_ONLINE] p
INNER JOIN sqlserver.elmed.dbo.AttachedPeopleSpr spr ON p.ID = spr.id
LEFT JOIN AttachedCustomAdr_ONLINE AS adr ON adr.PID = p.ID
WHERE NOT EXISTS (SELECT * FROM sqlserver.elmed.dbo.PacientVisit AS pv
INNER JOIN sqlserver.elmed.dbo.ReestrMedOrgDb AS rmod ON rmod.ID = pv.ReestrMedOrgID
WHERE rmod.R_YEAR = 2015
AND pv.fam = spr.fam AND pv.im = spr.im AND pv.ot = spr.ot AND pv.dr = spr.dr)
AND p.x_Status = 1 AND p.DS IS NULL 
AND DATEDIFF(day, spr.dr, GETDATE())/365.2524 > 18 

