UPDATE [ELMED_ONLINE].[dbo].[AttachedJournal_ONLINE] SET  [STATUS] = 4, DATA_SMO = CAST('20160518 11:23' AS DATETIME)
WHERE [STATUS] = 3

SELECT *FROM [AttachedJournal_ONLINE] WHERE [STATUS] = 3

SELECT CAST('20151030 17:23' AS DATETIME)

UPDATE [ELMED_ONLINE].[dbo].[AttachedJournal_ONLINE] 
SET  [STATUS] = 4, 
DATA_PASIV = CAST('20160203 16:16' AS DATETIME),
DATA_SMO = CAST('20160203 16:16' AS DATETIME), COMENTS = COMENTS + '  Автоматическое изменение статуса 03.02.2016'
WHERE [STATUS] = 1