
----Вставляем недостающих врачей
--INSERT INTO [ELMED_ONLINE].[dbo].[AttachedUchDoct_ONLINE] (SNILS, DBEG, HID)
--SELECT [SNILS_DOCT], '20151101', 92
--FROM [ELMED_ONLINE].[dbo].[gb7]
--WHERE SNILS_DOCT NOT IN (SELECT [SNILS]
--						 FROM [ELMED_ONLINE].[dbo].[AttachedUchDoct_ONLINE]
--						 WHERE HID = 92)
--GROUP BY [SNILS_DOCT]

----выявляем недостающий участок
--SELECT KOD_UCH
--FROM [ELMED_ONLINE].[dbo].[gb7]
--WHERE KOD_UCH NOT IN (SELECT [Uchastok]      
--					  FROM [ELMED_ONLINE].[dbo].[AttachedUchastok_ONLINE]
--				      WHERE HID = 92 ) 
--GROUP BY KOD_UCH

--Обновление доктора, основании прикрепления
UPDATE [AttachedPeople_ONLINE] SET ID_DOCT =  (SELECT audo.ID
          FROM AttachedUchDoct_ONLINE AS audo WHERE audo.SNILS = g.SNILS_DOCT AND audo.HID = 92),
           OSN_PR_MO = g.OSN_PR_MO, OSN_PR_DOCT = g.OSN_PR_DOCT      

FROM [AttachedPeople_ONLINE] p
INNER JOIN gb7 AS g ON g.ENP = p.ID_ENP
WHERE p.ID_MO = 460006 

--Обновление участка в истории ЛПУ
3150999795

--UPDATE AttachedCustomAdr_ONLINE SET RN =["Район"], NASPUNKT = ["Населенный_пункт"], UL = ["Улица"]  
----SELECT ["Полис"]
----      ,["Фамилия"]
----      ,["Имя"]
----      ,["Отчество"]
----      ,["Дата_рождения"]
----      ,["Район"]
----      ,["Населенный_пункт"]
----      ,["Улица"]
----      ,adr.*
--FROM [ELMED_ONLINE1].[dbo].[Промежуточная - общие поля Запрос(1)] z  
--  INNER JOIN [AttachedPeople_ONLINE] p ON z.["Полис"]=  p.ID_ENP
--  INNER JOIN AttachedCustomAdr_ONLINE adr ON adr.PID = p.ID
--WHERE p.hid = 153