SELECT 
     uchid
  FROM [ELMED_ONLINE].[dbo].[AttachedPeople_ONLINE] p
--  LEFT JOIN AttachedPeopleAdrReg_ONLINE AS adrreg ON adrreg.PID = p.ID
  LEFT JOIN AttachedPeopleAdrReg_ONLINE AS adrpro ON adrpro.PID = p.ID
  INNER JOIN (SELECT uchid, Region, Rn,City,CityRn,NasPun,Ul,DopUl,House,CustomHouse 
  FROM AttachedUchStreet_ONLINE us
  INNER JOIN AttachedUchastok_ONLINE AS u ON u.ID = us.UchID
WHERE u.HID = 17) AS uch 
ON uch.Region = adrpro.Region 
AND ISNULL(uch.Rn, '00000000-0000-0000-0000-000000000000') = ISNULL(adrpro.Rn, '00000000-0000-0000-0000-000000000000') 
AND ISNULL(uch.City, '00000000-0000-0000-0000-000000000000') = ISNULL(adrpro.City, '00000000-0000-0000-0000-000000000000') 
AND ISNULL(uch.CityRn, '00000000-0000-0000-0000-000000000000') = ISNULL(adrpro.CityRn, '00000000-0000-0000-0000-000000000000')
AND ISNULL(uch.NasPun, '00000000-0000-0000-0000-000000000000') = ISNULL(adrpro.NasPun, '00000000-0000-0000-0000-000000000000')
AND ISNULL(uch.Ul, '00000000-0000-0000-0000-000000000000') = ISNULL(adrpro.Ul, '00000000-0000-0000-0000-000000000000')
AND ISNULL(uch.DopUl, '00000000-0000-0000-0000-000000000000') = ISNULL(adrpro.DopUl, '00000000-0000-0000-0000-000000000000')
AND (ISNULL(uch.House, '00000000-0000-0000-0000-000000000000') = ISNULL(adrpro.House, '00000000-0000-0000-0000-000000000000') 
OR   ISNULL(uch.House, ISNULL(uch.CustomHouse, '00000000-0000-0000-0000-000000000000')) = ISNULL(adrpro.House, '00000000-0000-0000-0000-000000000000'))
AND (ISNULL(uch.CustomHouse, '00000000-0000-0000-0000-000000000000') = ISNULL(adrpro.CustomHouse, '00000000-0000-0000-0000-000000000000')
OR   ISNULL(uch.CustomHouse, ISNULL(uch.House, '00000000-0000-0000-0000-000000000000')) = ISNULL(adrpro.CustomHouse, '00000000-0000-0000-0000-000000000000'))
WHERE p.id = 3953113