SELECT id, pid, ROW_NUMBER() OVER (PARTITION BY pid ORDER BY id) [lineno]
INTO doc_line
FROM [ELMED_ONLINE].[dbo].[AttachedDoc_ONLINE]

UPDATE  [ELMED_ONLINE].[dbo].[AttachedDoc_ONLINE] 
SET [LineNo] = dl.[lineno]
  FROM [ELMED_ONLINE].[dbo].[AttachedDoc_ONLINE] d
  INNER JOIN doc_line dl ON d.ID = dl.id