DECLARE @pid INT
SELECT @pid=id FROM [ELMED_ONLINE].[dbo].[AttachedPeople_ONLINE]
WHERE ID_ENP = '4601969095200614'

DELETE [ELMED_ONLINE].[dbo].[AttachedCustomAdr_ONLINE]
WHERE pid = @pid

DELETE [ELMED_ONLINE].[dbo].[AttachedPeopleAdrPro_ONLINE]
WHERE pid = @pid

DELETE [ELMED_ONLINE].[dbo].[AttachedPeopleAdrReg_ONLINE]
WHERE pid = @pid

DELETE [ELMED_ONLINE].[dbo].AttachedSmo_ONLINE
WHERE pid = @pid

DELETE [ELMED_ONLINE].[dbo].AttachedLpu_ONLINE
WHERE pid = @pid

DELETE [ELMED_ONLINE].[dbo].AttachedDoc_ONLINE
WHERE pid = @pid

DELETE [ELMED_ONLINE].[dbo].AttachedSchool_ONLINE
WHERE pid = @pid

DELETE [ELMED_ONLINE].[dbo].[AttachedPeople_ONLINE]
WHERE id = @pid

DELETE sqlserver.[elmed].[dbo].[AttachedPeopleSpr]
WHERE id = @pid