DECLARE @pid INT = 3763803
--SELECT * FROM  
--DELETE [ELMED_ONLINE].[dbo].[AttachedLpu_ONLINE]
--WHERE pid = @pid

DELETE [ELMED_ONLINE].[dbo].[AttachedCustomAdr_ONLINE]
WHERE pid = @pid

DELETE [ELMED_ONLINE].[dbo].[AttachedPeople_ONLINE]
WHERE id = @pid

DELETE [SQLSERVER].[Elmed].[dbo].[AttachedPeopleSpr]
WHERE id = @pid