DECLARE @id_mo INT = 460055

--DELETE AttachedSmo_ONLINE
--WHERE PID IN (SELECT id FROM AttachedPeople_ONLINE WHERE ID_MO = @id_mo)

DELETE AttachedCustomAdr_ONLINE
WHERE PID IN (SELECT id FROM AttachedPeople_ONLINE WHERE ID_MO = @id_mo)

--Удаляем улицы
DELETE [AttachedUchStreet_ONLINE]
FROM [ELMED_ONLINE].[dbo].[AttachedUchStreet_ONLINE] STREET
JOIN [ELMED_ONLINE].[dbo].[AttachedUchastok_ONLINE] UCH ON UCH.ID = STREET.UchID
WHERE hid = 178

--Удаляем ЛПУ
DELETE AttachedLpu_ONLINE
WHERE PID IN (SELECT id FROM AttachedPeople_ONLINE WHERE ID_MO = @id_mo)

--Удаляем участок
DELETE [ELMED_ONLINE].[dbo].[AttachedUchastok_ONLINE]
WHERE hid = 178

------------DELETE AttachedUchastok_ONLINE
------------FROM AttachedLpu_ONLINE lpu
------------INNER JOIN AttachedUchastok_ONLINE uch ON uch.ID = lpu.UCH_ID 
------------WHERE PID IN (SELECT id FROM AttachedPeople_ONLINE WHERE ID_MO = @id_mo)

DELETE AttachedPeople_ONLINE
WHERE ID_MO = @id_mo

--Удаляем врача
DELETE [AttachedUchDoct_ONLINE]
WHERE hid = 96



