DELETE [AttachedCustomAdr_ONLINE]
--SELECT * FROM [ELMED_ONLINE].[dbo].[AttachedCustomAdr_ONLINE]
WHERE id IN (
SELECT max(id)      
  FROM [AttachedCustomAdr_ONLINE]
GROUP BY pid 
HAVING COUNT(*) > 1)