SELECT COUNT(*)
--[ID]
--      ,[ID_ENP]
--      ,[ID_SMO]
--      ,[ID_MO]
--      ,[ID_DOCT]
--      ,[HID]
--      ,[Osn_Pr_MO]
--      ,[Osn_Pr_Doct]
--      ,[Attach_Doct_Date]
--      ,[CHECKDS]
--      ,[DS]
--      ,[PRSM]
--      ,[x_Status]
--      ,[DSTOP]
FROM [ELMED_ONLINE].[dbo].[AttachedPeople_ONLINE]
WHERE 
DSTOP IS NOT NULL AND 
ID_SMO = 46002
--AND x_Status = 1
--and DSTOP IS NULL

