USE [G_EMISZKO_KGB6]
GO
/****** Object:  StoredProcedure [dbo].[pix_GetAddPatient]    Script Date: 15.10.2018 14:25:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[pix_GetAddPatient]
AS
BEGIN
	--exec pix_GetAddPatient
	
	SELECT 
top 100 -- топ 100 можно будет убрать

-- /patient	1..1 Демографические данные пациента
(cast (P.NE_LE as DATE)) as BirthDate
,(cast (P.DATA_SMERTI as DATE)) as DeathTime -- можно убрать, если не передаем
,P.NOM as FamilyName
,P.PRENOM as GivenName 
,(CASE	WHEN ANT.GRUPPA_KROVI = 0 AND ANT.RH = 1 THEN 1
		WHEN ANT.GRUPPA_KROVI = 0 AND ANT.RH = 0 THEN 2
		WHEN ANT.GRUPPA_KROVI = 1 AND ANT.RH = 1 THEN 3
		WHEN ANT.GRUPPA_KROVI = 1 AND ANT.RH = 0 THEN 4
		WHEN ANT.GRUPPA_KROVI = 2 AND ANT.RH = 1 THEN 5
		WHEN ANT.GRUPPA_KROVI = 2 AND ANT.RH = 0 THEN 6
		WHEN ANT.GRUPPA_KROVI = 3 AND ANT.RH = 1 THEN 7
		WHEN ANT.GRUPPA_KROVI = 3 AND ANT.RH = 0 THEN 8	END) as IdBloodType -- Заполняется на форме "Медицинский титульный лист(F8)" Код группы крови (OID справочника: 1.2.643.2.69.1.1.1.3) http://r46-rc.zdrav.netrika.ru/nsiui/Dictionary/33/FilterTree 
,(CASE	WHEN P.GITEL_GORODA_SELA = 1 THEN 2
		WHEN P.GITEL_GORODA_SELA = 0 THEN 1 END) as IdLivingAreaType -- Заполняется на форме "Титульный лист" при создании/редактировании адреса Тип места жительства (Классификатор жителя города или села, OID 1.2.643.5.1.13.2.1.1.573) http://r46-rc.zdrav.netrika.ru/nsiui/Dictionary/84/FilterTree
,P.KRN_GUID as IdPatientMIS -- можно использовать и P.PATIENTS_ID, нужно подумать, как лучше
,P.PATRONYME as MiddleName 
,(CASE	WHEN P.POL = 0 THEN 1
		WHEN P.POL = 1 THEN 2 
		ELSE 3 END) as Sex -- Код пола (Классификатор половой принадлежности, OID 1.2.643.5.1.13.2.1.1.156) http://r46-rc.zdrav.netrika.ru/nsiui/Dictionary/74/FilterTree
,(CASE	WHEN (YEAR(getdate()) - P.GOD_ROGDENIQ) >= 18 and (YEAR(getdate()) - P.GOD_ROGDENIQ) <= 22  THEN 3
		WHEN (YEAR(getdate()) - P.GOD_ROGDENIQ) >= 23 and (YEAR(getdate()) - P.GOD_ROGDENIQ) <= 60  THEN 1 
		WHEN (YEAR(getdate()) - P.GOD_ROGDENIQ) >= 61 THEN 2 END) as SocialGroup -- Только для взрослых!!! Код социальной группы (OID справочника: 1.2.643.2.69.1.1.1.4) http://r46-rc.zdrav.netrika.ru/nsiui/Dictionary/44/FilterTree
,(CASE	WHEN P.SOCIAL_N_J_STATUS1 = 4 OR P.SOCIAL_N_J_STATUS1 = 7 AND (YEAR(getdate()) - P.GOD_ROGDENIQ) >= 23 THEN '1'
		WHEN P.SOCIAL_N_J_STATUS1 = 11 THEN '2.1'  
		WHEN P.SOCIAL_N_J_STATUS1 = 2 and (YEAR(getdate()) - P.GOD_ROGDENIQ) >= 6 OR (YEAR(getdate()) - P.GOD_ROGDENIQ) <= 18 THEN '2.2'
		WHEN P.SOCIAL_N_J_STATUS1 = 2 and (YEAR(getdate()) - P.GOD_ROGDENIQ) >= 18 OR (YEAR(getdate()) - P.GOD_ROGDENIQ) <= 22 THEN '2.3'	ELSE NULL END) as SocialStatus -- Код социального статуса пациента (OID справочника: 1.2.643.2.69.1.1.1.5) http://r46-rc.zdrav.netrika.ru/nsiui/Dictionary/55/FilterTree

-- /patient/Documents/DocumentDto 0..* Документы
	--Документ 1 - удостоверение личности (паспорт, свидетельство о рождении)
,(CASE	WHEN P.VID_DOKUMENTA = 10 THEN 3
		WHEN P.VID_DOKUMENTA = 21 THEN 14 
		ELSE 231 END) as IdDocumentType -- Код типа документа (OID справочника: 1.2.643.2.69.1.1.1.6) http://r46-rc.zdrav.netrika.ru/nsiui/Dictionary/64/FilterTree
,P.SERIQ_DOKUMENTA as DocS -- дописать условие на тип документа, у которого есть серия
,P.PASPORT_N as DocN -- дописать проверку на пробелы и тире
,(cast(P.KOGDA_V_DAN as DATE)) as IssuedDate
,P.KEM_V_DAN as ProviderName  
	--Документ 2 - текущий полис ЕНП (основной действующий)
,(CASE	WHEN DIPO.TIP_POLISA = 1 THEN 226
		WHEN DIPO.TIP_POLISA = 2 THEN 227 
		ELSE 228 END) as IdDocumentType1 -- Код типа документа (OID справочника: 1.2.643.2.69.1.1.1.6) http://r46-rc.zdrav.netrika.ru/nsiui/Dictionary/64/FilterTree
,DIPO.SERIQ_POLISA as DocS1 -- дописать условие на ЕНП, у которого есть серия
,DIPO.NOMER_POLISA as DocN1 -- дописать проверку на пробелы и тире
,(cast (DIPO.SROK_DEJSTVIQ as DATE)) as ExpiredDate1 
,(cast(DIPO.DATA_V_DAHI as DATE)) as IssuedDate1
,ORG.CODE_OMS as IdProvider1 -- Код организации, выдавшей документ. Заполняется только для полисов (Реестр страховых медицинских организаций (ФОМС), OID справочника: 1.2.643.5.1.13.2.1.1.635) http://r46-rc.zdrav.netrika.ru/nsiui/Dictionary/87/FilterTree
,ORG.SHORT_LABEL as ProviderName1
,DIPO.KOD_TERRITORII_STRA_OVANI as RegionCode1  

-- /patient/Addresses/AddressDto 	0..* 	  	Адреса
	-- адрес регистрации
,1 as IdAddressType -- Идентификатор типа адреса (OID справочника: 1.2.643.2.69.1.1.1.28) http://r46-rc.zdrav.netrika.ru/nsiui/Dictionary/20/FilterTree
,P.ADRES_PO_PROPISKE as StringAddress 
	-- адрес фактического проживания
,2 as IdAddressType1 -- Идентификатор типа адреса (OID справочника: 1.2.643.2.69.1.1.1.28) http://r46-rc.zdrav.netrika.ru/nsiui/Dictionary/20/FilterTree
,P.ADRES_FAKTIHESKIJ as StringAddress1
 
from PATIENTS P with (nolock)
LEFT JOIN ANTECED ANT on ANT.PATIENTS_ID = P.PATIENTS_ID
LEFT JOIN (select * FROM DATA_INS_POLICIES_OMI where IS_MAIN = 1 and DEYSTVUYUSCHIY = 1) DIPO on DIPO.PATIENTS_ID = P.PATIENTS_ID
LEFT JOIN FM_ORG ORG on ORG.FM_ORG_ID = DIPO.SMO
-- ордер можно будет убрать
order by P.PATIENTS_ID /*P.NOM, P.PRENOM, P.PATRONYME*/ DESC
END