/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT l.*
  FROM [G_EMISZKO_BSMP].[dbo].[view_emk3_GetLlo] l
  JOIN MOTCONSU AS m ON m.MOTCONSU_ID = l.MOTCONSU_ID
WHERE AUTHOR_SNILS IN (SELECT SNILS
						  FROM [EMK].[dbo].[Certificates]
						WHERE SprLpuId = '4c5bbd9b-dd84-4e5b-826c-efdfe484cf01')
AND m.REMD_BodyPreparedReport IS NULL
AND m.DATE_CONSULTATION BETWEEN '20230101' AND '20230512'
						
ORDER BY MOTCONSU_ID DESC 