DROP TABLE zs1
DROP TABLE zsd1

SELECT *
INTO zsd1 
	FROM (
			SELECT *
			FROM  [elmed].[dbo].[dubsk]
			WHERE CONVERT(DATE, ДР, 102) <= '19590101'
		) AS t
		LEFT JOIN (
				SELECT dpo.FAM, dpo.IM, dpo.OT, dpo.DR, dbo.GROUP_CONCAT_DS(DISTINCT dzo.OS_SLUCH_REGION , N' , ', 1)OS_SLUCH_REGION, 
				dbo.GROUP_CONCAT_DS(DISTINCT dzo.DATE_Z_2 , N' , ', 1)DATE_Z_2
				FROM D3_ZSL_OMS AS dzo
					JOIN D3_SL_OMS AS dso ON dso.D3_ZSLID = dzo.ID
						JOIN D3_SCHET_OMS AS dso2 ON dso2.ID = dzo.D3_SCID
							JOIN D3_PACIENT_OMS AS dpo ON dpo.ID = dzo.D3_PID
				WHERE((dso2.[YEAR] IN (2024) OR (dso2.[YEAR] IN (2023) AND dso2.[MONTH] IN (1,2,3,4,5,6,7,8,9,10, 11) ))  AND dzo.USL_OK = 3  )
				GROUP BY  dpo.FAM, dpo.IM, dpo.OT, dpo.DR) AS t1 ON t.Фамилия = t1.FAM AND t.Имя = t1.IM AND t.Отчество = t1.OT AND t.[ДР] = t1.DR
		
	
DROP TABLE zt1
SELECT *
INTO zt1
FROM(
	SELECT *
	FROM zsd1
	WHERE fam IS NULL AND [Реестры_МП] = 'НЕТ') AS tt
LEFT JOIN [test].[dbo].[Tel] t ON tt.Фамилия=f and tt.Имя=i and tt.Отчество=o and tt.[ДР]=d

SELECT distinct z.*
FROM zt1 z
LEFT JOIN [test].[dbo].[prikrep7KGP] p ON p.Фамилия = z.Фамилия 
									AND p.Имя = z.Имя
									AND p.Отчество = z.Отчество
									AND p.[Дата рождения] = z.[ДР]
WHERE p.Фамилия IS NOT NULL