SELECT t.FAM, t.IM, t.OT, t.DR, t2.adres, t2.ds, st, (SELECT v.NameWithID FROM V009 AS v WHERE v.IDRMP = RSLT), t.DS1,
(SELECT TOP 1 ysme.NameWithID
   FROM Yamed_Spr_MedicalEmployee AS ysme WHERE ysme.SNILS = t.IDDOKT) doc, t.DATE_Z_1, t.DATE_Z_2
FROM(

SELECT dpo.FAM, dpo.IM, dpo.OT, dpo.DR, dzo.DATE_Z_1, dzo.DATE_Z_2, dso.IDDOKT, RSLT, dso.DS1
FROM D3_ZSL_OMS AS dzo
JOIN D3_PACIENT_OMS AS dpo ON dpo.ID = dzo.D3_PID
JOIN D3_SL_OMS AS dso ON dso.D3_ZSLID = dzo.ID
WHERE dzo.OS_SLUCH_REGION = 22) AS t
JOIN (
SELECT *
FROM [elmed].[dbo].[Лист1$]
WHERE fam IS NOT NULL) AS t2 ON t2.FAM = t.FAM AND t2.IM = t.IM AND t2.OT = t.OT AND YEAR(DR) = god