/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
--new AttachedLpuNetrika {IdLPU = 339, ExternaLpulID = "46002001"},//Диспансерное отделение, ОБУЗ "ККПБ"
new AttachedLpuNetrika {IdLPU = 837, ExternaLpulID = "4600258"}, //Терапевтическое отделение (Верхняя Казацкая, 152), ОБУЗ "КГДСП"


SELECT 'new AttachedLpuNetrika {IdLPU = ' + CAST([IdLPU]  AS NVARCHAR(5)) + ', ExternaLpulID = "' + [ExternaLpulID] + '"}, //' + [LPUFullName]
    
  FROM [SZV].[dbo].[AttachedLpuNetrika]
  WHERE IdLPU NOT IN (
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
10,
11,
12,
13,
14,
15,
16,
17,
18,
19,	
21,
22,
23,
24,
25,
26,
27,
28,
29,
30,
31,
32,
33,
34,
35,
36,
37,
38,
39,
40,
41,
42,
43,
44,
45,
46,
47,
51,
52,
68,
70,
71,
72,
73,
74,
75,
78  ,
79  ,
80  ,
81  ,
82  ,
83  ,
84  ,
85  ,
86  ,
87  ,
88  ,
89  ,
90  ,
91  ,
92  ,
93  ,
94  ,
95  ,
100 ,
101 ,
102 ,
103 ,
104 ,
105 ,
106 ,
107 ,
108 ,
109 ,
110 ,
111 ,
112 ,
113 ,
115,
118,
119,
120,
121,
122,
124, 
125, 
126, 
127, 
128, 
129, 
130, 
131, 
132, 
133, 
134, 
135, 
136, 
137, 
138, 
139, 
140, 
141, 
143,
144,
148,
149,
150,
151,
224,
238,
 260,
 269,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 336,
 340,
 341
)
  
  
  
  
  INSERT INTO [SZV].[dbo].[AttachedLpuNetrika] (
	
[IdLPU]
      ,[LPUFullName]
      ,[OID]
      ,[ExternaLpulID]
      )
SELECT cast([Идентификатор ЛПУ] AS INT) [IdLPU]
      
      ,CAST([Краткое наименование ЛПУ] AS NVARCHAR (250))[LPUFullName]     
      ,CAST([OID учреждения] AS NVARCHAR(50)) [OID]
      ,CAST(CAST([Идентификатор ЛПУ в МИС] AS int) AS NVARCHAR(16) )[ExternaLpulID]
           
  FROM [SZV].[dbo].['2_5345885242882268322$']
