/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT 
'new AttachedLpuNetrika {IdLPU = ' + Cast(idlpu AS NVARCHAR(3))
+ ', ExternaLpulID = "' + CAST([ExternaLpulID] AS NVARCHAR(8))
+'"},//' + [LPUFullName]   --, ExternaLpulID = "4600315"},
[IdLPU]
      ,[LPUFullName]
      ,[OID]
      ,[ExternaLpulID]
      ,[GuidId]
  FROM [SZV].[dbo].[AttachedLpuNetrika]