/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT 
(SELECT l.NameLpu FROM Lpu AS l WHERE l.mcod =  m.IdLpu), COUNT(*)
  FROM [EMK].[dbo].[MonitoringCase] (NOLOCK) m
  LEFT JOIN LogerCase l (NOLOCK) ON l.MonitoringCaseId = m.ID
  
WHERE m.DateCreate >= '20210101' AND l.ID IS NULL AND m.StatusEvent IN (2,4)
GROUP BY m.IdLpu