DECLARE @d DATETIME = '20211215'
SELECT w, COUNT(*)
FROM [DocExchange].[dbo].[ATTP_People]
WHERE PrMo = 460026
AND OmsPolDStop IS NULL
AND [Active] = 1
AND FLOOR(DATEDIFF(dd,dr,@d)/365.2524)<18
GROUP BY W