--SELECT TOP 10880 dl.*,
--CASE WHEN MONTH(dr) IN (1,2,3) THEN 1
--	WHEN MONTH(dr) IN (4,5,6) THEN 2
--	WHEN MONTH(dr) IN (7,8,9) THEN 3
--	WHEN MONTH(dr) IN (10,11,12) THEN 4 ELSE 100 END,
--	1, 0
--UPDATE [DISP_Lists] SET TargetQuarter = CASE WHEN MONTH(dr) IN (1,2,3) THEN 1
--	WHEN MONTH(dr) IN (4,5,6) THEN 2
--	WHEN MONTH(dr) IN (7,8,9) THEN 3
--	WHEN MONTH(dr) IN (10,11,12) THEN 4 ELSE 100 END, MoSolutionId = 1, RejectMoResonId = 0
--FROM [DISP_Lists] dl
--JOIN ATTP_People AS ap ON ap.ID = dl.PID
--WHERE dl.Mo = 460026 AND dl.TargetYear = 2018 AND dl.DispType='ДВ1'
----AND ap.Fam='переяслов'

UPDATE [DISP_Lists] SET TargetQuarter = 0, Reserve = 1
FROM [DISP_Lists] dl
JOIN ATTP_People AS ap ON ap.ID = dl.PID
WHERE dl.ID IN (SELECT t.ID from tempgb6vd t)
--AND ap.Fam='переяслов'


UPDATE dl SET dl.TargetQuarter = 3
FROM DISP_Lists AS dl
WHERE id IN (
SELECT TOP 16 dl.ID-- dl.TargetQuarter, COUNT(*)
FROM [DISP_Lists] dl
JOIN ATTP_People AS ap ON ap.ID = dl.PID
WHERE dl.PrMo = 460026 
AND dl.DispType = 'ДВ1' 
AND dl.RejectTFReasonId IS null
AND dl.TargetYear = 2018
AND dl.Reserve = 0 AND TargetQuarter = 0
)

SELECT  dl.TargetQuarter, COUNT(*)
FROM [DISP_Lists] dl
JOIN ATTP_People AS ap ON ap.ID = dl.PID
WHERE dl.PrMo = 460026 
AND dl.DispType = 'ДВ1'
AND dl.RejectTFReasonId IS null
AND dl.TargetYear = 2018
AND dl.Reserve = 0 
--AND TargetQuarter = 0
GROUP BY dl.TargetQuarter


SELECT  dl.TargetQuarter, COUNT(*)
FROM [DISP_Lists] dl
JOIN ATTP_People AS ap ON ap.ID = dl.PID
WHERE dl.PrMo = 460026 
AND dl.DispType = 'ОПВ' 
--AND dl.RejectTFReasonId IS null
AND dl.TargetYear = 2019
AND dl.Reserve = 0 --AND MONTH(dr) IN (7)
--AND TargetQuarter = 0
GROUP BY dl.TargetQuarter

UPDATE dl SET Reserve = 1
FROM DISP_Lists AS dl
JOIN 
(SELECT  dl.id
FROM [DISP_Lists] dl
JOIN ATTP_People AS ap ON ap.ID = dl.PID
WHERE dl.Mo = 460026 AND dl.TargetYear = 2019 AND dl.DispType='ОПВ' AND dl.Reserve = 0
AND MONTH(dr) IN (10,11,12)  AND dl.TargetQuarter != 4) AS t on dl.ID = t.id

UPDATE dl SET TargetQuarter = 4, MoSolutionId = 1, RejectMoResonId = 0, Reserve = 0
FROM DISP_Lists AS dl
JOIN 
(SELECT TOP 22 dl.id
FROM [DISP_Lists] dl
JOIN ATTP_People AS ap ON ap.ID = dl.PID
WHERE dl.Mo = 460026 AND dl.TargetYear = 2019 
AND dl.DispType='ОПВ' AND dl.Reserve = 1 
AND dl.RejectTFReasonId =0 
AND MONTH(dr) IN (10,11,12) ) AS t on dl.ID = t.id



--SELECT  dl.TargetQuarter, COUNT(*)
--FROM [DISP_Lists] dl
--JOIN ATTP_People AS ap ON ap.ID = dl.PID
--WHERE dl.PrMo = 460026 
--AND dl.DispType = 'ДВ3_М' 
----AND dl.RejectTFReasonId IS null
--AND dl.TargetYear = 2019
--AND dl.Reserve = 0 --AND MONTH(dr) IN (1)
----AND TargetQuarter = 0
--GROUP BY dl.TargetQuarter

--UPDATE dl SET TargetQuarter = 4, MoSolutionId = 1, RejectMoResonId = 0
--FROM DISP_Lists AS dl
--JOIN 
--(SELECT TOP 400  dl.id
--FROM [DISP_Lists] dl
--JOIN ATTP_People AS ap ON ap.ID = dl.PID
--WHERE dl.Mo = 460026 AND dl.TargetYear = 2019 AND dl.DispType='ДВ3_К' AND dl.Reserve = 0
--AND MONTH(dr) IN (12)) AS t on dl.ID = t.id



