SET IDENTITY_INSERT dbo.people1 ON
 INSERT INTO [PEOPLE1] (
 	[FAM]
      ,[IM]
      ,[OT]
      ,[W]
      ,[DR]    
      ,[DS]
      ,[RN]      
      ,[RNNAME]      
      ,[NP]
      ,[UL]
      ,Dom
      ,Kor
      ,Kv      
      ,[Q] 
      ,[NPOL]
      ,[ENP]
      ,[OPDOC]  
      ,[DBEG]
      ,[DEND]
      ,[ID]
      ,[PID]           
      ,[DSTOP]  
      ,[LPU] )
SELECT [FAM]
      ,[IM]
      ,[OT]
      ,[W]
      ,[DR]      
      ,[DS]
      ,[AdrOmsOkato]      
      ,[AdrOmsRn]      
      ,[AdrOmsNaspunkt]
      ,[AdrOmsUl]  
      ,adromsDom, 
      adrOmsKorp, 
      adrOmsKv    
      ,[OmsSmo] 
      ,[OmsPolNum]
      ,[ENP]
      ,[OmsPolType]  
      ,[OmsPolDBeg]
      ,[OmsPolDEnd]
      ,[ID]
      ,[SrzPplId]           
      ,[OmsPolDStop]   
      , prmo
FROM [SQL_COD].[DocExchange].[dbo].[ATTP_People] ap
 SET IDENTITY_INSERT dbo.people1 OFF
 
 
-- DROP TABLE bdpeople.dbo.People
--SELECT [FAM]
--      ,[IM]
--      ,[OT]
--      ,[W]
--      ,[DR]
--      ,[DRA]
--      ,[MR]
--      ,[DS]
--      ,[SS]
--      ,[DOCTP]
--      ,[DOCS]
--      ,[DOCN]
--      ,[DOCDT]
--      ,[DOCORG]
--      ,[CN]
--      ,[SUBJ]
--      ,[RN]
--      ,[INDX]
--      ,[RNNAME]
--      ,[CITY]
--      ,[NP]
--      ,[UL]
--      ,[DOM]
--      ,[KOR]
--      ,[KV]
--      ,[DMJ]
--      ,[BOMJ]
--      ,[PSUBJ]
--      ,[PRN]
--      ,[PINDX]
--      ,[PRNNAME]
--      ,[PCITY]
--      ,[PNP]
--      ,[PUL]
--      ,[PDOM]
--      ,[PKOR]
--      ,[PKV]
--      ,[PDMJ]
--      ,[RDOCTP]
--      ,[RDOCS]
--      ,[RDOCN]
--      ,[RDOCDT]
--      ,[RDOCORG]
--      ,[RDOCEND]
--      ,[EMAIL]
--      ,[Q]
--      ,[PRZ]
--      ,[SPOL]
--      ,[NPOL]
--      ,[ENP]
--      ,[OPDOC]
--      ,[OKATO]
--      ,[DHPOL]
--      ,[DBEG]
--      ,[DEND]
--      ,[PETITION]
--      ,[LPU]
--      ,[LPUWK]
--      ,[LPUST]
--      ,[LPUUCH]
--      ,[SP]
--      ,[KT]
--      ,[OKVED]
--      ,[KLADRS]
--      ,[ZFAM]
--      ,[ZIM]
--      ,[ZOT]
--      ,[ZT]
--      ,[ZDR]
--      ,[ZMR]
--      ,[ZDOCTP]
--      ,[ZDOCS]
--      ,[ZDOCN]
--      ,[ZDOCDT]
--      ,[ZDOCORG]
--      ,[ZADDR]
--      ,[ID]
--      ,[PID]
--      ,[ZID]
--      ,[DEDIT]
--      ,[DERP]
--      ,[UNEMP]
--      ,[PHONE]
--      ,[QOGRN]
--      ,[DSTOP]
--      ,[ZPHONE]
--      ,[EXTID]
--      ,[ZENP]
--      ,[DENP]
--      ,[ERP]
--      ,[ZERR]
--      ,[DVIZ]
--      ,[METH]
--      ,[OPSMO]
--      ,[OPPOL]
--      ,[POLPR]
--      ,[POLVID]
--      ,[POLISID]
--      ,[PFRSS]
--      ,[FREE]
--      ,[RSTOP]
--      ,[DAKT]
--      ,[NAKT]
--      ,[TAKT]
--      ,[DEL]
--      ,[DZP1]
--      ,[ZP1REPL]
--      ,[OLDENP]
--      ,[TENP]
--      ,[SENP]
--      ,[PHOTO]
--      ,[PTYPE]
--      ,[DRT]
--      ,[FIOPR]
--      ,[CONTACT]
--      ,[NORD]
--      ,[DORD]
--      ,[SIGNAT]
--      ,[KLADRG]
--      ,[KLADRP]
--      ,[DZ]
--      ,[FORCE]
--      ,[BID]
--      ,[MID]
--      ,[OTHER]
--      ,[LPUDT]
--      ,[LPUAUTO]
--      ,[LPUDX]
--      ,[PZ_SCAN]
--      INTO bdpeople.dbo.People
--  FROM [elmed].[dbo].[PEOPLE]