/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT [ID]
      ,[KSGNUM]
      ,[KSGNAME]
      ,[STYPE]
      ,[DBEG]
      ,[DEND]
      ,[NameWithID]
  FROM [elmed].[dbo].[SprKsg]
WHERE KSGNUM = '208'

SELECT [ID]
      ,[IDKSG]
      ,[SSL]
      ,[KZ]
      ,[TARIF]
      ,[DBEG]
      ,[DEND]
  FROM [elmed].[dbo].[CalcKsgTarif]
WHERE IDKSG = 1771