/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT distinct s.*, dpo.OS_SLUCH_REGION, ap.prmo
  FROM [elmed].[dbo].[excelout$] s
LEFT JOIN
(
SELECT dpo.FAM, dpo.IM, dpo.OT, dpo.DR, dzo.OS_SLUCH_REGION
FROM  D3_PACIENT_OMS AS dpo 
  JOIN (select * from D3_ZSL_OMS AS dzo WHERE OS_SLUCH_REGION IS NOT NULL )AS dzo ON dzo.D3_PID = dpo.ID 
  JOIN (select * from D3_SCHET_OMS WHERE [YEAR] = 2019)AS dso ON dso.ID = dpo.D3_SCID
) as dpo ON dpo.FAM = s.fam AND dpo.IM = s.im AND dpo.OT = s.ot AND cast(dpo.DR AS DATE) = s.dr
LEFT JOIN [SQL_COD].[DocExchange].[dbo].[ATTP_People] ap ON ap.FAM = s.fam AND ap.IM = s.im AND ap.OT = s.ot AND cast(ap.DR AS DATE) = s.dr

--SELECT *
--  FROM [elmed].[dbo].[excelout$] s