/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
UPDATE n SET MCOD2 = m.MCOD2 , n.CREATE_DATE_TIME = DATEADD(MONTH, 3, [CREATE_DATE_TIME]) , DATE_START= DATEADD(MONTH, 3, DATE_START),DATE_END=DATEADD(MONTH, 3, DATE_END) 
    FROM [SZV].[dbo].[NotificationAboutAppointment] n 
  JOIN [temp_mcodkol] m ON m.MCOD = n.MCOD
   WHERE [CREATE_DATE_TIME] BETWEEN '20211001' AND '20211030' AND n.NotificationAboutAppointmentResult_ID IS NULL
  AND n.MCOD2 IS NULL
  
  
  SELECT DATEADD(MONTH, 5, [CREATE_DATE_TIME]) , DATEADD(MONTH, 5, DATE_START),DATEADD(MONTH, 5, DATE_END) 
    FROM [SZV].[dbo].[NotificationAboutAppointment] n 
  JOIN [temp_mcodkol] m ON m.MCOD = n.MCOD
  WHERE [CREATE_DATE_TIME] BETWEEN '20210401' AND '20210416' AND n.NotificationAboutAppointmentResult_ID IS NULL
  AND n.MCOD2 IS NULL
  
  
 SELECT n.MCOD, n.MCOD2, COUNT(*)
 -- UPDATE n SET MCOD2 = m.MCOD2
  FROM [SZV].[dbo].[NotificationAboutAppointment] n 
    JOIN [temp_mcodkol] m ON m.MCOD = n.MCOD
  WHERE [CREATE_DATE_TIME] BETWEEN '20210401' AND '20210430' 
  AND n.NotificationAboutAppointmentResult_ID IS NULL
    AND n.MCOD2 IS NULL
  GROUP BY n.MCOD, n.MCOD2
  
  
  UPDATE n SET n.CREATE_DATE_TIME = DATEADD(MONTH, 1, [CREATE_DATE_TIME]) , DATE_START= DATEADD(MONTH, 1, DATE_START),DATE_END=DATEADD(MONTH, 1, DATE_END), STATUS_SEND = 1, n.StatusSendDate = null
    FROM [SZV].[dbo].[NotificationAboutAppointment] n 
  --JOIN [temp_mcodkol] m ON m.MCOD = n.MCOD
   WHERE [CREATE_DATE_TIME] BETWEEN '20211001' AND '20211030' AND n.NotificationAboutAppointmentResult_ID IS NOT NULL
