DECLARE @d DATETIME = GETDATE()
/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT W,
 CASE WHEN  (DATEDIFF(dd, DR, @d)/365.2524) >= 18 AND (DATEDIFF(dd, DR, @d)/365.2524) < 19 THEN '18-19' 
      WHEN  (DATEDIFF(dd, DR, @d)/365.2524) >= 19 AND (DATEDIFF(dd, DR, @d)/365.2524) < 20 THEN '19-20' 
      WHEN  (DATEDIFF(dd, DR, @d)/365.2524) >= 20 AND (DATEDIFF(dd, DR, @d)/365.2524) <= 29 THEN '20-29'
      WHEN  (DATEDIFF(dd, DR, @d)/365.2524) > 29 AND (DATEDIFF(dd, DR, @d)/365.2524) <= 39 THEN '30-39'
      WHEN  (DATEDIFF(dd, DR, @d)/365.2524) > 39 AND (DATEDIFF(dd, DR, @d)/365.2524) <= 49 THEN '40-49'
      WHEN  (DATEDIFF(dd, DR, @d)/365.2524) > 49 AND (DATEDIFF(dd, DR, @d)/365.2524) <= 59 THEN '50-59'
      WHEN  (DATEDIFF(dd, DR, @d)/365.2524) > 59 AND (DATEDIFF(dd, DR, @d)/365.2524) <= 69 THEN '60-69'
      WHEN  (DATEDIFF(dd, DR, @d)/365.2524) > 69  THEN '70' 
      
      ELSE 'иные' END, COUNT(*), dr
  FROM [DocExchange].[dbo].ATTP_People
WHERE [Active] = 1 AND PrMo IN (460026)
AND Ds IS NULL
AND (DATEDIFF(dd, DR, @d)/365.2524) >= 18
GROUP BY W, DR