/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT  t.*, t1.OS_SLUCH_REGION, 
(SELECT f003.NameWithID FROM f003 WHERE mcod =  ap.prmo) lpu
  FROM [elmed].[dbo].[excelout$] t
  LEFT JOIN (
  SELECT dpo.FAM, dpo.IM, dpo.OT, dpo.DR, dzo.OS_SLUCH_REGION, dzo.DATE_Z_1
FROM D3_ZSL_OMS AS dzo
JOIN D3_PACIENT_OMS AS dpo ON dpo.ID = dzo.D3_PID
JOIN D3_SCHET_OMS AS dso ON dso.ID = dzo.D3_SCID
JOIN D3_SL_OMS AS dso2 ON dso2.D3_ZSLID = dzo.ID
WHERE dso.[YEAR] = 2019 
AND dzo.OS_SLUCH_REGION IN (22,47) 
AND (dzo.PR_NOV IS NULL OR dzo.PR_NOV = 0)	
  ) AS t1 ON t1.fam = t.fam AND t1.im = t.im AND t1.ot = t.ot AND CONVERT(DATETIME,  SUBSTRING(t.dr, 7, 4) + SUBSTRING(t.dr, 4, 2) + SUBSTRING(t.dr, 1, 2) , 126) = t1.dr
  LEFT JOIN [SQL_COD].[DocExchange].[dbo].[ATTP_People] ap ON ap.fam = t.fam AND ap.im = t.im AND ap.ot = t.ot 
  AND CONVERT(DATETIME,  SUBSTRING(t.dr, 7, 4) + SUBSTRING(t.dr, 4, 2) + SUBSTRING(t.dr, 1, 2) , 126) = ap.dr