/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT TOP 1000 [Id]
      ,[DateCreate]
      ,[DbName]
      ,[SendDate]
      ,[PatientId]
      ,[MotconsuId]
      ,[InternalApplicationNumber]
      ,[ExternalApplicationNumber]
      ,[isDownload]
      ,[isCancel]
      ,[StatusDate]
      ,[StatusOdli]
      ,[StatusOdliName]
      ,[NameFileResult]
  FROM [EMK].[dbo].[DirectionOdli]
WHERE --MotconsuId = 2015389 -- PatientId = 170015627-- MotconsuId = 1987625 
InternalApplicationNumber LIKE '%2706608%'     <add key="BasicFilePath" value="\\1.8.105.134\stg\EMIZ_KO\DATA_BASE" />

 StatusOdli IN (3,4)-- AND NameFileResult = ''

--UPDATE do SET do.isDownload = 0
--FROM DirectionOdli AS do
--WHERE  StatusOdli IN (3,4) AND NameFileResult = ''-- do.Id = 48201