/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT TOP 1000 [Id]
      ,[DateCreate]
      ,[DbName]
      ,[SendDate]
      ,[PatientId]
      ,[MotconsuId]
      ,[InternalApplicationNumber]
      ,[ExternalApplicationNumber]
      ,[isDownload]
      ,[isCancel]
      ,[StatusDate]
      ,[StatusOdli]
      ,[StatusOdliName]
      ,[NameFileResult]
--UPDATE   d SET d.isDownload = 1
FROM [EMK].[dbo].[DirectionOdli] d
WHERE --id = 16242
StatusOdli IN(3, 4) and 
 d.isDownload = 0
--PatientId = 170075881