/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT zme.*, zms.*--zkk.ZksgKpgId, p.*, zme.ZmedicalEventId
  FROM [medicine_ins].[dbo].[FactPatient] p
  JOIN ZslFactMedicalEvent AS zfme ON zfme.PatientId = p.PatientId
  JOIN ZFactMedicalEvent AS zme ON zme.ZslMedicalEventId = zfme.ZslMedicalEventId
  LEFT JOIN ZFactMedicalServices AS zms ON zms.ZmedicalEventId = zme.ZmedicalEventId
  JOIN FactPerson AS fp ON fp.PersonId = p.PersonalId
  LEFT JOIN ZFactKsgKpg AS zkk ON zkk.ZmedicalEventId = zme.ZmedicalEventId
WHERE p.TerritoryOkato IS NOT NULL -- p.AccountId = 20949 
                                  and fp.Surname = 'ИВАШКО' --AND fp.PName = 'НАДЕЖДА'