/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT p.*--substring(ltrim(f.smocod), 1, 2), f.smocod, f.nam_smok,  [PatientId]
UPDATE p SET TerritoryOkato = substring(ltrim(f.smocod), 1, 2)
  FROM [medicine_ins].[dbo].[FactPatient] p
  JOIN F002 AS f ON f.Id = p.InsuranceId
WHERE MedicalAccountId = 9099 AND f.smocod NOT LIKE '46%' --AND PatientId = 1024026

SELECT ZslFactMedicalEvent.ExternalId, ROW_NUMBER() OVER (ORDER BY FactPatient.ExternalId) AS NewExternalId
			
                                        FROM ZslFactMedicalEvent 
			                                INNER JOIN FactPatient ON FactPatient.PatientId = ZslFactMedicalEvent.PatientId
			                                INNER JOIN FactPerson ON FactPatient.PersonalId = FactPerson.PersonId
			                                WHERE FactPatient.AccountId = 19937