/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT *
  FROM [medicine_ins].[dbo].[ZFactMedicalEvent] z
  JOIN ZslFactMedicalEvent AS zfme ON zfme.ZslMedicalEventId =z.ZslMedicalEventId
  JOIN FactPatient AS fp ON fp.PatientId = zfme.PatientId
  --JOIN ZFactMedicalServices AS zms ON zms.ZmedicalEventId = z.ZmedicalEventId
  JOIN ZFactKsgKpg AS zkk ON zkk.ZmedicalEventId = z.ZmedicalEventId
 -- JOIN ZFactSlKoef AS zsk ON zsk.ZksgKpgId = zkk.ZksgKpgId
--WHERE fp.MedicalAccountId = 11190 --AND fp.AccountId = 23065
--AND fp.PatientId = 1053219