/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT [ErrorException], COUNT(*) kol
  FROM [SZV].[dbo].[Loger]
WHERE cast(DateCreate AS DATE) = '20180522'
GROUP BY ErrorException
ORDER BY kol desc