DECLARE @schetTab TABLE (id INT)
INSERT INTO @schetTab(id)VALUES(20973)
INSERT INTO @schetTab(id)VALUES(20974)
INSERT INTO @schetTab(id)VALUES(20975)
--INSERT INTO @schetTab(id)VALUES(20732)









--INSERT INTO @schetTab(id)VALUES(19174)
--INSERT INTO @schetTab(id)VALUES(6636)
--INSERT INTO @schetTab(id)VALUES(6637)
--INSERT INTO @schetTab(id)VALUES(5494)
--INSERT INTO @schetTab(id)VALUES(4352)
--INSERT INTO @schetTab(id)VALUES(4345)
--INSERT INTO @schetTab(id)VALUES(2903)
DECLARE @sump DECIMAL(15,2) = 0
DECLARE @sums DECIMAL(15,2) = 0

--DECLARE @p1 INT = 2201
SELECT PR_NOV,  SUM(sumv)
  FROM [elmed].[dbo].[D3_ZSL_OMS]  z
WHERE D3_SCID IN (SELECT id FROM @schetTab) AND (IDSP != 25 OR z.PR_NOV = 1)  --AND OS_SLUCH_REGION = 38
GROUP BY PR_NOV

SELECT @sump = SUM(sumv)
  FROM [elmed].[dbo].[D3_ZSL_OMS]  z
WHERE D3_SCID IN (SELECT id FROM @schetTab) AND (IDSP != 25 OR z.PR_NOV = 1) --AND OS_SLUCH_REGION = 38


DECLARE @sump1 DECIMAL(15,2) = 0

--DECLARE @p11 INT = 2200
--SELECT @sump1 = SUM(sumv)
--  FROM [elmed].[dbo].[D3_ZSL_OMS]  
--WHERE D3_SCID = @p11 AND IDSP != 25 --AND OS_SLUCH_REGION = 38
----SELECT @sump1

SELECT @sump + @sums + @sump1


--USE elmed
--SELECT *
--FROM D3_SCHET_OMS AS dso WHERE dso.[YEAR] = 2023 AND dso.[MONTH] = 9



----DECLARE @p1 INT = 2201
--SELECT smo, SUM(sumv)
--FROM(
--SELECT 
--CASE WHEN smo LIKE '46%' THEN (SELECT f.NameWithID FROM F002 AS f WHERE f.smocod = smo) 
--ELSE 'ТФОМС' END  AS smo,  SUM(sumv)sumv
--  FROM [elmed].[dbo].[D3_ZSL_OMS] z
--  JOIN D3_PACIENT_OMS AS dpo ON dpo.ID = z.D3_PID   
--WHERE z.D3_SCID IN (SELECT id FROM @schetTab) AND IDSP != 25 --AND OS_SLUCH_REGION = 38
--GROUP BY dpo.smo) AS t
--GROUP BY smo 