DECLARE @schetTab TABLE (id INT)
INSERT INTO @schetTab(id)VALUES(9070)
INSERT INTO @schetTab(id)VALUES(9078)
INSERT INTO @schetTab(id)VALUES(9079)
DECLARE @sump DECIMAL(15,2) = 0
DECLARE @sums DECIMAL(15,2) = 0

--DECLARE @p1 INT = 2201
SELECT PR_NOV,  SUM(sumv)
  FROM [elmed].[dbo].[D3_ZSL_OMS]  
WHERE D3_SCID IN (SELECT id FROM @schetTab) AND IDSP != 25 --AND OS_SLUCH_REGION = 38
GROUP BY PR_NOV

SELECT @sump = SUM(sumv)
  FROM [elmed].[dbo].[D3_ZSL_OMS]  
WHERE D3_SCID IN (SELECT id FROM @schetTab) AND IDSP != 25 --AND OS_SLUCH_REGION = 38


DECLARE @sump1 DECIMAL(15,2) = 0

--DECLARE @p11 INT = 2200
--SELECT @sump1 = SUM(sumv)
--  FROM [elmed].[dbo].[D3_ZSL_OMS]  
--WHERE D3_SCID = @p11 AND IDSP != 25 --AND OS_SLUCH_REGION = 38
----SELECT @sump1

SELECT @sump + @sums + @sump1



--DECLARE @p1 INT = 2201
SELECT smo, SUM(sumv)
FROM(
SELECT 
CASE WHEN smo LIKE '46%' THEN (SELECT f.NameWithID FROM F002 AS f WHERE f.smocod = smo) 
ELSE 'ТФОМС' END  AS smo,  SUM(sumv)sumv
  FROM [elmed].[dbo].[D3_ZSL_OMS] z
  JOIN D3_PACIENT_OMS AS dpo ON dpo.ID = z.D3_PID   
WHERE z.D3_SCID IN (SELECT id FROM @schetTab) AND IDSP != 25 --AND OS_SLUCH_REGION = 38
GROUP BY dpo.smo) AS t
GROUP BY smo 


SELECT 
(SELECT od.NameWithID
   FROM OtdelDb AS od WHERE od.OTDID_REGION_NOTEDIT =  dso.PODR)'отделение', COUNT(*)'количество', SUM(sumv)'сумма'
FROM [elmed].[dbo].[D3_ZSL_OMS] z
JOIN D3_SL_OMS AS dso ON dso.D3_ZSLID = z.ID
WHERE D3_SCID IN (SELECT id FROM @schetTab) AND IDSP != 25 --AND OS_SLUCH_REGION = 38
AND dso.PODR IN (
460026113608
,460026113607
,460026113606
,460026113605	
)
GROUP BY dso.PODRDECLARE @schetTab TABLE (id INT)
DECLARE @sump DECIMAL(15,2) = 0
DECLARE @sums DECIMAL(15,2) = 0

SELECT CASE WHEN z.USL_OK = 1 THEN 'Стационар'
	        WHEN z.USL_OK = 3 THEN CASE WHEN z.OS_SLUCH_REGION IS NOT NULL THEN  osd.NameWithID ELSE 'Поликлиника' END 
	        WHEN z.USL_OK = 2 THEN 'Дневной стационар' 
	   ELSE 'Что-то не то' END, 
(SELECT od.NameWithID FROM OtdelDb AS od WHERE od.OTDID_REGION_NOTEDIT = podr),
COUNT(*)'количество', SUM(sumv)'сумма'
FROM [elmed].[dbo].[D3_ZSL_OMS] z
JOIN D3_SL_OMS AS dso ON dso.D3_ZSLID = z.ID
LEFT JOIN OsobSluchDb AS osd ON osd.Id = z.OS_SLUCH_REGION
WHERE D3_SCID IN (SELECT id FROM @schetTab) AND IDSP != 25

AND dso.PODR IN (
460026113608
,460026113607
,460026113606
,460026113605	
)
GROUP BY  CASE WHEN z.USL_OK = 1 THEN 'Стационар'
	        WHEN z.USL_OK = 3 THEN CASE WHEN z.OS_SLUCH_REGION IS NOT NULL THEN  osd.NameWithID ELSE 'Поликлиника' END 
	        WHEN z.USL_OK = 2 THEN 'Дневной стационар' 
	   ELSE 'Что-то не то' END, dso.PODR 
	   
	  
	  
	  
	  
	  DECLARE @schetTab TABLE (id INT)
DECLARE @sump DECIMAL(15,2) = 0
DECLARE @sums DECIMAL(15,2) = 0

SELECT CASE WHEN z.USL_OK = 1 THEN 'Стационар'
	        WHEN z.USL_OK = 3 THEN CASE WHEN z.OS_SLUCH_REGION IS NOT NULL THEN  osd.NameWithID ELSE 'Поликлиника' END 
	        WHEN z.USL_OK = 2 THEN 'Дневной стационар' 
	   ELSE 'Что-то не то' END, 
(SELECT od.NameWithID FROM OtdelDb AS od WHERE od.OTDID_REGION_NOTEDIT = podr),
COUNT(*)'количество', SUM(sumv)'сумма'
FROM [elmed].[dbo].[D3_ZSL_OMS] z
JOIN D3_SL_OMS AS dso ON dso.D3_ZSLID = z.ID
LEFT JOIN OsobSluchDb AS osd ON osd.Id = z.OS_SLUCH_REGION
WHERE D3_SCID IN (SELECT id FROM @schetTab) AND IDSP != 25

AND dso.PODR IN (
460026113608
,460026113607
,460026113606
,460026113605	
)
GROUP BY  CASE WHEN z.USL_OK = 1 THEN 'Стационар'
	        WHEN z.USL_OK = 3 THEN CASE WHEN z.OS_SLUCH_REGION IS NOT NULL THEN  osd.NameWithID ELSE 'Поликлиника' END 
	        WHEN z.USL_OK = 2 THEN 'Дневной стационар' 
	   ELSE 'Что-то не то' END, dso.PODR 
	   
	  
	  
	  
	  
	  
	  