
GO
/****** Object:  Table [dbo].[dn_v001_v021]    Script Date: 07.02.2023 16:40:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dn_v001_v021](
	[S_CODE] [nvarchar](255) NULL,
	[NAME] [nvarchar](255) NULL,
	[IDSPEC] [float] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[dn_v001_v021] ([S_CODE], [NAME], [IDSPEC]) VALUES (N'B04.001.001', N'Диспансерный прием (осмотр, консультация) врача-акушера-гинеколога', 2)
GO
INSERT [dbo].[dn_v001_v021] ([S_CODE], [NAME], [IDSPEC]) VALUES (N'B04.002.001', N'Диспансерный прием (осмотр, консультация) врача-аллерголога-иммунолога', 3)
GO
INSERT [dbo].[dn_v001_v021] ([S_CODE], [NAME], [IDSPEC]) VALUES (N'B04.004.001', N'Диспансерный прием (осмотр, консультация) врача-гастроэнтеролога', 8)
GO
