USE [ElmedKokod2]
GO
/****** Object:  Table [dbo].[KOKOD_OTD]    Script Date: 10.07.2023 14:08:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KOKOD_OTD](
	[id] [float] NULL,
	[kod_otd] [float] NULL,
	[usl_ok] [float] NULL,
	[name] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[KOKOD_OTD] ([id], [kod_otd], [usl_ok], [name]) VALUES (1, 460061106001, 1, N' Онкологическое абдоминальное отделение')
GO
INSERT [dbo].[KOKOD_OTD] ([id], [kod_otd], [usl_ok], [name]) VALUES (2, 460061106002, 1, N'Онкологическое отделение опухолей молочной железы')
GO
INSERT [dbo].[KOKOD_OTD] ([id], [kod_otd], [usl_ok], [name]) VALUES (3, 460061106003, 1, N'Отделение онкогинекологии')
GO
