
GO
/****** Object:  Table [dbo].[perv_160822]    Script Date: 16.08.2022 20:50:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perv_160822](
	[fam] [nvarchar](40) NULL,
	[im] [nvarchar](40) NULL,
	[ot] [nvarchar](40) NULL,
	[dr] [datetime] NULL,
	[npolis] [nvarchar](20) NULL,
	[date_min] [datetime] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[perv_160822] ([fam], [im], [ot], [dr], [npolis], [date_min]) VALUES (N'Абышкин', N'Геннадий', N'Михайлович', CAST(0x0000528200000000 AS DateTime), N'4649240818000185', CAST(0x0000AE6E00000000 AS DateTime))
GO
INSERT [dbo].[perv_160822] ([fam], [im], [ot], [dr], [npolis], [date_min]) VALUES (N'Авдеева', N'Наталья', N'Ефимовна', CAST(0x00004C8800000000 AS DateTime), N'4651640876000164', CAST(0x0000AE4300000000 AS DateTime))
GO
INSERT [dbo].[perv_160822] ([fam], [im], [ot], [dr], [npolis], [date_min]) VALUES (N'Агибалова', N'Надежда', N'Павловна', CAST(0x00005F0B00000000 AS DateTime), N'4651330885000062', CAST(0x0000AE4400000000 AS DateTime))
GO
