
GO
/****** Object:  Table [dbo].[temp_kokod_7]    Script Date: 08.08.2022 17:02:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_kokod_7](
	[id] [int] NOT NULL,
	[zsl_id] [nvarchar](36) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[temp_kokod_7] ([id], [zsl_id]) VALUES (18642, N'00042E28-9653-47C7-A418-621580FF8569')
GO
INSERT [dbo].[temp_kokod_7] ([id], [zsl_id]) VALUES (18642, N'0007551F-F478-4D48-8EA0-649A8CC5B31D')
GO
INSERT [dbo].[temp_kokod_7] ([id], [zsl_id]) VALUES (18642, N'000F598B-A732-4DBC-9C97-15C1B1C471DE')
GO
