
GO
/****** Object:  Table [dbo].[temp_disp_6_7]    Script Date: 05.08.2022 9:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_disp_6_7](
	[zslid] [int] NOT NULL,
	[fam] [nvarchar](40) NULL,
	[im] [nvarchar](40) NULL,
	[ot] [nvarchar](40) NULL,
	[fio] [nvarchar](122) NULL,
	[dr] [datetime] NULL,
	[DATE_1] [datetime] NULL,
	[DATE_2] [datetime] NULL,
	[ds1] [nvarchar](10) NULL,
	[DS_NAME] [nvarchar](255) NULL,
	[врач кокод] [nvarchar](767) NULL,
	[P_CEL25] [nvarchar](3) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[temp_disp_6_7] ([zslid], [fam], [im], [ot], [fio], [dr], [DATE_1], [DATE_2], [ds1], [DS_NAME], [врач кокод], [P_CEL25]) VALUES (7354493, N'Гречишников', N'Иван', N'Ильич', N'Гречишников Иван Ильич', CAST(0x00004E0B00000000 AS DateTime), CAST(0x0000AEC400000000 AS DateTime), CAST(0x0000AEC400000000 AS DateTime), N'C61', N'Злокачественное новообразование  предстательной железы', N'Мыколаенко Тамара Валерьевна', N'1.3')
GO
INSERT [dbo].[temp_disp_6_7] ([zslid], [fam], [im], [ot], [fio], [dr], [DATE_1], [DATE_2], [ds1], [DS_NAME], [врач кокод], [P_CEL25]) VALUES (7354741, N'Казначеева', N'Антонина', N'Фатеевна', N'Казначеева Антонина Фатеевна', CAST(0x0000535200000000 AS DateTime), CAST(0x0000AEA700000000 AS DateTime), CAST(0x0000AEA700000000 AS DateTime), N'C02.1', N'Злокачественное новообразование боковой поверхности языка', N'Демидова Олеся Васильевна', N'1.3')
GO
INSERT [dbo].[temp_disp_6_7] ([zslid], [fam], [im], [ot], [fio], [dr], [DATE_1], [DATE_2], [ds1], [DS_NAME], [врач кокод], [P_CEL25]) VALUES (7356481, N'Комарова', N'Галина', N'Анатольевна', N'Комарова Галина Анатольевна', CAST(0x00007D1700000000 AS DateTime), CAST(0x0000AEC200000000 AS DateTime), CAST(0x0000AEC200000000 AS DateTime), N'C53.1', N'Злокачественное новообразование наружной части шейки матки', N'Шуклина Валентина Витальевна', N'1.3')
GO
