/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT  [N]
      ,[Код номенклатуры]
      ,[Наименование услуги (работ)]
      ,[ Цена услуги  (работы), руб# ]
      ,y.NameWithID
  FROM [ElmedKokod2].[dbo].[platny_usl]
  LEFT JOIN Yamed_Spr_Usl804 y ON y.ID=[Код номенклатуры]
WHERE [Код номенклатуры] IN (
							   SELECT  [Код номенклатуры]
							   FROM [ElmedKokod2].[dbo].[platny_usl]	
							   GROUP BY [Код номенклатуры]
							   HAVING COUNT(*)>1
)




SELECT  [N]
      ,[Код номенклатуры]
      , REPLACE([Код номенклатуры],'А','A')
      ,[Наименование услуги (работ)]
      ,[ Цена услуги  (работы), руб# ]
     -- ,y.NameWithID
  FROM [ElmedKokod2].[dbo].[platny_usl]
WHERE [Код номенклатуры] LIKE '%А%'



SELECT * FROM [platny_usl]