
  
  
  
INSERT INTO [D3_CONS_OMS] (

      [D3_SLID]
      ,[D3_SLGID]
       ,[PR_CONS]
    -- ,DT_CONS
 
)
SELECT  --sch.id, zs.id, p.fam
     s.id
      ,s.SL_ID
      ,0
 -- ,'20221019'
FROM [D3_SCHET_OMS] sch                  
  inner join D3_PACIENT_OMS p on p.d3_scid=sch.id--and sch.month=11
                 and sch.year=2022   and sch.month in (12) --and sch.id IN (3910)
 inner join D3_ZSL_OMS zs on zs.D3_PID=p.id
 join D3_SL_OMS s on s.D3_ZSLID=zs.ID  
 
 left join D3_CONS_OMS c on c.[D3_SLID]=s.id
where  c.id is  null  AND ds_onk=1 AND p.smo NOT LIKE '46%' --AND zs.id=14649798