
GO
/****** Object:  Table [dbo].[kokod_podr]    Script Date: 18.01.2023 16:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kokod_podr](
	[fam] [nvarchar](255) NULL,
	[im] [nvarchar](255) NULL,
	[ot] [nvarchar](255) NULL,
	[IDDOCT] [nvarchar](255) NULL,
	[PODR] [nvarchar](255) NULL,
	[usl_ok] [nvarchar](255) NULL,
	[data_n] [nvarchar](255) NULL,
	[data_end] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[kokod_podr] ([fam], [im], [ot], [IDDOCT], [PODR], [usl_ok], [data_n], [data_end]) VALUES (N'Одинцов', N'Олег', N'Витальевич', N'15541422543', N'460061106001', N'1', N'01.01.2022', N'31.05.2022')
GO
INSERT [dbo].[kokod_podr] ([fam], [im], [ot], [IDDOCT], [PODR], [usl_ok], [data_n], [data_end]) VALUES (N'Полянский', N'Максим', N'Борисович', N'15094302442', N'460061106001', N'1', NULL, NULL)
GO
INSERT [dbo].[kokod_podr] ([fam], [im], [ot], [IDDOCT], [PODR], [usl_ok], [data_n], [data_end]) VALUES (N'Полянский', N'Максим', N'Борисович', N'15094302442', NULL, N'3', NULL, NULL)
GO
