/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT  [DS1]
      ,[kol]
      , m.IDDS
      ,m.DS_NAME
  FROM [ElmedKokod2].[dbo].[cancer_bad_ds] t
 LEFT JOIN m001_oplata_status m ON left(t.DS1,5)=m.IDds 
WHERE m.IDDS IS  NULL --AND ds1 LIKE '%С%'