DECLARE @p1 INT = 9382
--DECLARE  @D3_USLGID UNIQUEIDENTIFIER
--SET @D3_USLGID = NEWID()

if OBJECT_ID('temp_disp_1_3') is not null drop table temp_disp_1_3
SELECT *
INTO temp_disp_1_3_9382
 FROM
(
SELECT 
distinct  ROW_NUMBER() OVER(PARTITION BY p.fam,p.im,isnull(p.ot,''),p.dr, s.PROFIL, s.ds1 order BY p.fam,p.im,isnull(p.ot,''),p.dr, s.PROFIL, s.ds1) 
    n_p_p,
    sch.id, zs.id zslid,p.id as pid, s.id slid, s.nhistory, p.npolis,  p.fam,p.im,isnull(p.ot,'') ot,p.dr,zs.D3_SCID AS zs_schid,p.D3_SCID AS p_schid, s.ds1
--INTO temp_disp_1_3
FROM [D3_SCHET_OMS] sch                  
  inner join D3_PACIENT_OMS p on p.d3_scid=sch.id 
 -- and sch.year=2022 and sch.month=12 and sch.CODE_MO = 460010
 AND sch.id = @p1
  inner join D3_ZSL_OMS zs on zs.D3_PID=p.id  and zs.[D3_SCID]=sch.id --and zs.usl_ok in (1,2) 
  --AND zs.id in (1889455, 1887726)
 join D3_SL_OMS s on s.D3_ZSLID=zs.ID AND s.P_CEL25 = '1.3' 
JOIN(--группируем по профилю, диагнозу, у кого было более 1 приема с целью дисп наблюдение в мес
select  s.profil, s.P_CEL25, isnull(p.npolis, p.ENP) npolis, ds1
FROM [D3_SCHET_OMS] sch                  
  inner join D3_PACIENT_OMS p on p.d3_scid=sch.id 
 --  and sch.year=2022 and sch.month=12 AND sch.CODE_MO = 460010
 AND sch.id = @p1
  inner join D3_ZSL_OMS zs on zs.D3_PID=p.id  and zs.[D3_SCID]=sch.id    --and zs.usl_ok in (1,2) 
  --AND zs.id in (1889455, 1887726)
 join D3_SL_OMS s on s.D3_ZSLID=zs.ID AND s.P_CEL25= '1.3' 

GROUP BY  s.profil, s.P_CEL25, isnull(p.npolis, p.ENP), ds1
HAVING COUNT(*) > 1
) t ON t.npolis=isnull(p.NPOLIS, p.enp) AND s.ds1=t.ds1

)tt
ORDER BY  tt.fam,tt.im,tt.ot,tt.dr,tt. n_p_p
--для случая UPDATE
--select  s.profil, s.P_CEL25, isnull(p.npolis, p.ENP) npolis
UPDATE s SET P_CEL = '1.0', P_CEL25 = '1.0'
FROM [D3_SCHET_OMS] sch                  
  inner join D3_PACIENT_OMS p on p.d3_scid=sch.id 
  inner join D3_ZSL_OMS zs on zs.D3_PID=p.id  and zs.[D3_SCID]=sch.id    --and zs.usl_ok in (1,2) --AND zs.id=20906231
 join D3_SL_OMS s on s.D3_ZSLID=zs.ID  
 JOIN temp_disp_1_3_9382 d ON s.id = d.slid  AND d.n_p_p <> 1

 
 
 
--для зак случая UPDATE и INSERT
--select  s.profil, s.P_CEL25, isnull(p.npolis, p.ENP) npolis
UPDATE zs set OS_SLUCH_REGION = 59, idsp = 30 
FROM [D3_SCHET_OMS] sch                  
  inner join D3_PACIENT_OMS p on p.d3_scid=sch.id AND sch.id=9382
  inner join D3_ZSL_OMS zs on zs.D3_PID=p.id  and zs.[D3_SCID]=sch.id    --and zs.usl_ok in (1,2) --AND zs.id=20906231
 join D3_SL_OMS s on s.D3_ZSLID=zs.ID  AND s.P_CEL25= '1.3' 
 --JOIN temp_disp_1_3 d ON s.id = d.slid  AND d.n_p_p = 1 
  
 
INSERT INTO D3_USL_OMS (D3_SLID, D3_SLGID, 	D3_ZSLID, 	 	DATE_IN, 	DATE_OUT, DS, VERS_SPEC,  CODE_MD,
----D3_USLGID, 
DET, PRVS, PROFIL, CODE_USL,  VID_VME)
 SELECT s.id, s.sl_id, zs.id, zs.DATE_Z_1, zs.DATE_Z_2, s.DS1, 'V021', 
 --@D3_USLGID,
 
 s.IDDOKT, s.DET, s.PRVS, s.PROFIL, dn.s_code, dn.s_code
  
 FROM [D3_SCHET_OMS] sch                  
  inner join D3_PACIENT_OMS p on p.d3_scid=sch.id 
  inner join D3_ZSL_OMS zs on zs.D3_PID=p.id  and zs.[D3_SCID]=sch.id    --and zs.usl_ok in (1,2) --AND zs.id=20906231
 join D3_SL_OMS s on s.D3_ZSLID=zs.ID  
 --JOIN temp_disp_1_3 d ON s.id = d.slid  AND d.n_p_p = 1        
 left JOIN dn_v001_v021 dn ON dn.idspec = s.PRVS
 WHERE s.P_CEL25= '1.3'  AND sch.id=9382 
 
 
 
 