/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT zs.[ID]
      ,zs.[ZSL_ID]
      ,zs.[D3_PID]
      ,zs.[D3_PGID]
      ,zs.[D3_SCID]
    ,s.nhistory
  FROM [ElmedKokod].[dbo].[D3_ZSL_OMS] zs
   join D3_SL_OMS s on s.D3_ZSLID=zs.ID 
  where --id=884886
 [D3_PID]= 855736
