SELECT  *
 into ztemp_desh_Cdelete_122021_ds_44
from
(
	SELECT distinct sch.id AS schit,sch.SchetType, zs.id zslid, sumv, rslt, s.DS_ONK
	,p.id pid,p.fam,p.im,p.ot,p.dr, p.npolis,zs.DATE_Z_1, zs.DATE_Z_2--, s.nhistory,s.ds1,ksg.n_ksg,zs.vidpom,s.podr,k.name
	--,v23.NameWithID, zs.ishod,v12.IZNAME,v009.NameWithID v9
	--, zs.sumv,zs.usl_ok
--into ztemp_desh_Cdelete_092020_dn
--into ztemp_desh_Cdelete_092020_ks_33
--into ztemp_desh_Cdelete_092020_ks_50
--into ztemp_desh_Cdelete_092020_ks_70
--into ztemp_desh_Cdelete_102020
--into ztemp_desh_Cdelete_112020_new
--into ztemp_desh_Cdelete_012021
--into ztemp_desh_Cdelete_022021
--into ztemp_desh_Cdelete_032021
--into ztemp_desh_Cdelete_042021
--into ztemp_desh_Cdelete_042021_ks_37
--into ztemp_desh_Cdelete_042021_ks_7_new
--into ztemp_desh_Cdelete_072021_ks
--into ztemp_desh_Cdelete_052021_ds_2
 --into ztemp_desh_Cdelete_072021_ds                           select * from  ztemp_desh_Cdelete_072021_ds
  --into ztemp_desh_Cdelete_102021_ds_16
  -- into ztemp_desh_Cdelete_102021_ds_52
  --into ztemp_desh_Cdelete_102021_ks_c_7
  --into ztemp_desh_Cdelete_102021_ks_new_1
 -- into ztemp_desh_Cdelete_102021_ds_new_1
 -- into ztemp_desh_Cdelete_112021_ks_377
 --into ztemp_desh_Cdelete_112021_ks_314
--  into ztemp_desh_Cdelete_112021_ds_240
 -- into ztemp_desh_Cdelete_112021_ds_40
-- into ztemp_desh_Cdelete_112021_ds_11
FROM [D3_SCHET_OMS] sch                  
  inner join D3_PACIENT_OMS p on p.d3_scid=sch.id 
 AND sch.month=11 AND sch.YEAR=2021 and  sch.id IN (3522)
  inner join D3_ZSL_OMS zs on zs.D3_PID=p.id   and zs.usl_ok in (1,2) AND zs.vidpom<>32 --AND zs.id=20906231
 join D3_SL_OMS s on s.D3_ZSLID=zs.ID
 JOIN D3_KSG_KPG_OMS AS  ksg ON ksg.D3_SLID=s.ID 
 left JOIN v023 v23 ON v23.K_KSG=ksg.N_KSG AND year(v23.DATEBEG)>=2019 AND v23.DATEend IS NULL
 LEFT JOIN v012 v12 ON v12.id=zs.ishod
 LEFT JOIN v009 ON v009.IDRMP=zs.RSLT
 left join KOKOD_OTD k on k.kod_otd=s.podr
--WHERE  zs.usl_ok=2 AND zs.sumv<=23594.2 and  zs.RSLT<>205 --AND s.DS_ONK IS  null
WHERE  zs.usl_ok=2 AND zs.sumv>=17004.83 and  zs.RSLT<>105 --AND s.DS_ONK IS  null
) t

	
	
	
	
	
	
	ORDER BY sumv 


zs.sumv=33376.23 and zs.usl_ok=1
and  zs.RSLT<>105 
-- and 
--(zs.sumv<33376.24 and zs.usl_ok=1 or zs.sumv<29492.75 and zs.usl_ok=2) -- and zs.pr_nov=1
--and ksg.n_ksg not IN ('st27.014','st36.012','ds36.006','ds19.018')
--and  zs.id not in
--(select top 80
-- zs.id
--FROM [D3_SCHET_OMS] sch                  
--  inner join D3_PACIENT_OMS p on p.d3_scid=sch.id 
--  --and sch.year=2019 and sch.month=1
--  inner join D3_ZSL_OMS zs on zs.D3_PID=p.id  -- and zs.usl_ok in (1,2)      
-- join D3_SL_OMS s on s.D3_ZSLID=zs.ID   
--join D3_KSG_KPG_OMS ksg on ksg.D3_SLID=s.id  --and ksg.N_KSG in (select id from @tt)
-- join D3_ONK_SL_OMS onk on onk.D3_SLID=s.id
-- join d3_onk_usl_oms ou on ou.D3_ONKSLID=onk.id
-- join D3_LEK_PR_OMS lp on lp.D3_ONKUSLID=ou.id
-- where sch.code_mo=460061
--      AND sch.month=2 AND sch.YEAR=2021-- AND sch.id IN  (1275,1276,1278)
--       and ou.usl_tip in (2,4) 
--       --and   lp.CODE_SH like 'sh348'
--       and ksg.n_ksg IN ('st19.064') and sumv=33376.23
--)
-- --AND zs.RSLT<>105
ORDER BY zs.sumv 


return
--считаю, сколько случаев и сумма остается
SELECT DISTINCT  sch.SchetType, zs.usl_ok,
count(zs.id),sum(sumv)--s.podr,p.fam,p.im,p.ot,p.dr, p.npolis,zs.DATE_Z_1, zs.DATE_Z_2, s.nhistory,s.ds1,ksg.n_ksg,zs.vidpom,v23.NameWithID, zs.ishod,v12.IZNAME,v009.NameWithID, zs.sumv,zs.usl_ok
FROM [D3_SCHET_OMS] sch                  
  inner join D3_PACIENT_OMS p on p.d3_scid=sch.id 
   AND sch.month=10 AND sch.YEAR=2020 AND sch.id IN (1088,1082,1087)
  inner join D3_ZSL_OMS zs on zs.D3_PID=p.id  -- and zs.usl_ok in (1,2) AND zs.vidpom<>32 --AND zs.id=20906231
-- join D3_SL_OMS s on s.D3_ZSLID=zs.ID
-- left JOIN D3_KSG_KPG_OMS AS  ksg ON ksg.D3_SLID=s.ID 
 --left JOIN v023 v23 ON v23.K_KSG=ksg.N_KSG AND year(v23.DATEBEG)>=2019 AND v23.DATEend IS NULL
 LEFT JOIN v012 v12 ON v12.id=zs.ishod
 LEFT JOIN v009 ON v009.IDRMP=zs.RSLT
WHERE zs.sumv>=23000 and zs.usl_ok=1 or zs.sumv>=34000 and zs.usl_ok=2 or usl_ok=3 or zs.RSLT=105
-- ksg.n_ksg IN ('st27.014','st36.012','ds36.006','ds19.018') --AND zs.RSLT<>105
group BY sch.SchetType, zs.usl_ok


---по новой схеме 348

SELECT DISTINCT  sch.id AS schit,lp.code_sh,sch.SchetType, zs.id zslid,s.podr,p.fam,p.im,p.ot,p.dr, p.npolis,zs.DATE_Z_1, zs.DATE_Z_2, s.nhistory,s.ds1,ksg.n_ksg,zs.vidpom,v23.NameWithID, zs.ishod,v12.IZNAME,v009.NameWithID v9, zs.sumv,zs.usl_ok
--into ztemp_desh_Cdelete_042020
FROM [D3_SCHET_OMS] sch                  
  inner join D3_PACIENT_OMS p on p.d3_scid=sch.id 
  and sch.year=2020 and sch.month=5-- AND sch.id not IN (329)
  inner join D3_ZSL_OMS zs on zs.D3_PID=p.id   and zs.usl_ok in (1,2) AND zs.vidpom<>32 --AND zs.id=20906231
 join D3_SL_OMS s on s.D3_ZSLID=zs.ID
 JOIN D3_KSG_KPG_OMS AS  ksg ON ksg.D3_SLID=s.ID 
 left JOIN v023 v23 ON v23.K_KSG=ksg.N_KSG AND year(v23.DATEBEG)>=2019 AND v23.DATEend IS NULL
 LEFT JOIN v012 v12 ON v12.id=zs.ishod
 LEFT JOIN v009 ON v009.IDRMP=zs.RSLT
 left  join D3_ONK_SL_OMS onk on onk.D3_SLID=s.id
 left join d3_onk_usl_oms ou on ou.D3_ONKSLID=onk.id
 left join D3_LEK_PR_OMS lp on lp.D3_ONKUSLID=ou.id
--WHERE --zs.RSLT<>105 and (zs.sumv<27000 and zs.usl_ok=1 or zs.sumv<15000 and zs.usl_ok=2)-- and zs.pr_nov=1
-- ksg.n_ksg  IN ('st19.027','ds19.018
--')