/****** Сценарий для команды SelectTopNRows среды SSMS  ******/
select t1.*,o002. [NAME1]
from
(select t.*, substring(okatog,1,2) ter, substring(okatog,3,3) kod1--,o002.[NAME1]
from temp_perv_app t) t1

left join [O002] on  t1.ter=o002.ter and t1.kod1=o002.kod1
