USE [ElmedKokod2]
GO
/****** Object:  Table [dbo].[tmp_redkie]    Script Date: 16.12.2022 14:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_redkie](
	[F1] [float] NULL,
	[code] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[F4] [nvarchar](255) NULL,
	[F5] [nvarchar](255) NULL,
	[F6] [nvarchar](255) NULL,
	[F7] [nvarchar](255) NULL,
	[F8] [nvarchar](255) NULL,
	[F9] [nvarchar](255) NULL,
	[F10] [nvarchar](255) NULL,
	[F11] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tmp_rutina]    Script Date: 16.12.2022 14:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_rutina](
	[f1] [float] NULL,
	[code] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[F4] [nvarchar](255) NULL,
	[F5] [nvarchar](255) NULL,
	[F6] [nvarchar](255) NULL,
	[F7] [nvarchar](255) NULL,
	[F8] [nvarchar](255) NULL,
	[F9] [nvarchar](255) NULL,
	[F10] [nvarchar](255) NULL,
	[F11] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tmp_uniq]    Script Date: 16.12.2022 14:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_uniq](
	[F1] [float] NULL,
	[code] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[analog TF] [nvarchar](255) NULL,
	[F5] [nvarchar](255) NULL,
	[F6] [nvarchar](255) NULL,
	[F7] [nvarchar](255) NULL,
	[F8] [nvarchar](255) NULL,
	[F9] [nvarchar](255) NULL,
	[F10] [nvarchar](255) NULL,
	[F11] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[tmp_redkie] ([F1], [code], [name], [F4], [F5], [F6], [F7], [F8], [F9], [F10], [F11]) VALUES (2, N'A09.05.004', N'Холестерол-ЛПВП (Холестерин липопротеинов высокой плотности, HDL Cholesterol)', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[tmp_redkie] ([F1], [code], [name], [F4], [F5], [F6], [F7], [F8], [F9], [F10], [F11]) VALUES (2, N'A09.05.007', N'Исследование уровня железа сыворотки крови', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[tmp_redkie] ([F1], [code], [name], [F4], [F5], [F6], [F7], [F8], [F9], [F10], [F11]) VALUES (2, N'A09.05.009', N'Определение С-реактивного белка', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[tmp_rutina] ([f1], [code], [name], [F4], [F5], [F6], [F7], [F8], [F9], [F10], [F11]) VALUES (3, N'A09.05.010', N'Исследование уровня общего белка в крови ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[tmp_rutina] ([f1], [code], [name], [F4], [F5], [F6], [F7], [F8], [F9], [F10], [F11]) VALUES (3, N'A09.05.017', N'Исследование уровня мочевины в крови', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[tmp_rutina] ([f1], [code], [name], [F4], [F5], [F6], [F7], [F8], [F9], [F10], [F11]) VALUES (3, N'A09.05.020', N'Исследование уровня креатинина в крови', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[tmp_uniq] ([F1], [code], [name], [analog TF], [F5], [F6], [F7], [F8], [F9], [F10], [F11]) VALUES (1, N'A09.05.076', N'Определение уровня ферритина в сыворотке крови', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[tmp_uniq] ([F1], [code], [name], [analog TF], [F5], [F6], [F7], [F8], [F9], [F10], [F11]) VALUES (1, N'A09.05.207', N'Исследование уровня молочной кислоты в крови (лактат)', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[tmp_uniq] ([F1], [code], [name], [analog TF], [F5], [F6], [F7], [F8], [F9], [F10], [F11]) VALUES (1, N'A12.05.123', N'Ретикулоциты', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
