--SELECT pv.FAM, pv.IM, pv.OT, pv.DR, pv.TARIF, pv.SUMV
UPDATE PacientVisit SET TARIF = 0, sumv = 0
FROM PacientVisit pv
JOIN ReestrMedOrgDb r on pv.ReestrMedOrgID = r.ID
WHERE pv.TARIF = -1 
--AND r.R_MONTH in (2) AND R.R_YEAR = 2015
AND pv.ReestrMedOrgID = 49


--Для проверки сумм по страховым
--SELECT 'ТФОМС' smo, SUM(sumv) AS sumv
--FROM(
--SELECT 1 as p, pv.Q,  SUM(sumv) AS sumv
--FROM PacientVisit AS pv
--Join ReestrMedOrgDb r on pv.ReestrMedOrgID = r.ID
--WHERE Q NOT LIKE '46%' AND r.R_MONTH in (11) AND R.R_YEAR = 2014
--GROUP BY pv.Q) AS tab
--GROUP BY tab.p
--UNION
--SELECT (SELECT f.nam_smok 
--          FROM F002 AS f WHERE f.smocod = pv.Q) AS smo,  SUM(sumv) AS sumv
--FROM PacientVisit AS pv
--Join ReestrMedOrgDb r on pv.ReestrMedOrgID = r.ID
--WHERE Q LIKE '46%' AND r.R_MONTH in (11) AND R.R_YEAR = 2014
--GROUP BY pv.Q

--UPDATE ReestrSmoDb
--SET SUMMAV = 49006.53
--FROM ReestrSmoDb AS rsd WHERE id = 1668