SELECT  [ID]
      ,[LIC_NUM_ID]
      ,[LPU]
      ,(SELECT v6.NameWithID FROM [V006] v6 WHERE v6.IDUMP = [USL_MP])
      ,(SELECT v8.NameWithID FROM [V008] v8 WHERE v8.id = [VID_MP])
      ,(SELECT v2.NameWithID FROM [V002] v2 WHERE v2.id = [PROFIL])
  FROM [Elmed].[dbo].[LIC_TBL]
WHERE lpu = 460026 AND lic_num_id = 522
ORDER BY [USL_MP], [VID_MP],[PROFIL]