CREATE TABLE [dbo].[PrikNas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DZ] [date] NULL,
	[Smo_Kod] [varchar](5) NULL,
	[NPol] [varchar](20) NULL,
	[Fam] [varchar](40) NULL,
	[Im] [varchar](40) NULL,
	[Ot] [varchar](40) NULL,
	[DR] [date] NULL,
	[Dr_Year] [float] NULL,
	[Pol] [nvarchar](255) NULL,
	[Rn] [varchar](80) NULL,
	[Naspunkt] [varchar](80) NULL,
	[UL] [varchar](80) NULL,
	[Dom] [varchar](12) NULL,
	[Korp] [nvarchar](255) NULL,
	[Kv] [varchar](12) NULL,
	[Adres] [nvarchar](255) NULL
) ON [PRIMARY]

INSERT INTO PrikNas ([DZ]
      ,[Smo_Kod]
      ,[NPol]
      ,[Fam]
      ,[Im]
      ,[Ot]
      ,[DR]
      ,[Dr_Year]
      ,[Pol]
      ,[Rn]
      ,[Naspunkt]
      ,[UL]
      ,[Dom]
      ,[Korp]
      ,[Kv]
      ,[Adres])
SELECT [DZ]
      ,[Smo_Kod]
      ,[NPol]
      ,[Fam]
      ,[Im]
      ,[Ot]
      ,[DR]
      ,[Dr_Year]
      ,[Pol]
      ,[Rn]
      ,[Naspunkt]
      ,[UL]
      ,[Dom]
      ,[Korp]
      ,[Kv]
      ,[Adres]
FROM(

SELECT CAST([DZ] AS DATE)[DZ]
      ,CAST([Smo_Kod]AS VARCHAR(5))[Smo_Kod]
      ,CAST([NPol]AS VARCHAR(20))[NPol]
      ,CAST([Fam]AS VARCHAR(40))[Fam]
      ,CAST([Im]AS VARCHAR(40))[Im]
      ,CAST([Ot]AS VARCHAR(40))[Ot]
      , CAST([DR] AS DATE)[DR]
      ,[Dr_Year]
      ,[Pol] 
      ,CAST([Rn] AS VARCHAR(80))[Rn]
      ,CAST([Naspunkt] AS VARCHAR(80))[Naspunkt]
      ,CAST([UL] AS VARCHAR(80))[UL]
      ,CAST([Dom] AS VARCHAR(12))[Dom]
      ,CAST([Korp] AS NVARCHAR(255))[Korp]
      ,CAST([Kv] AS VARCHAR(12))[Kv]
      ,CAST([Adres] AS NVARCHAR(255))[Adres]
  FROM [PrikNaselenie].[dbo].[Лист1$]
UNION
SELECT CAST([DZ] AS DATE)[DZ]
      ,CAST([Smo_Kod]AS VARCHAR(5))[Smo_Kod]
      ,CAST([NPol]AS VARCHAR(20))[NPol]
      ,CAST([Fam]AS VARCHAR(40))[Fam]
      ,CAST([Im]AS VARCHAR(40))[Im]
      ,CAST([Ot]AS VARCHAR(40))[Ot]
      ,CAST([DR] AS DATE)[DR]
      ,[Dr_Year]
      ,[Pol] 
      ,CAST([Rn] AS VARCHAR(80))[Rn]
      ,CAST([Naspunkt] AS VARCHAR(80))[Naspunkt]
      ,CAST([UL] AS VARCHAR(80))[UL]
      ,CAST([Dom] AS VARCHAR(12))[Dom]
      ,CAST([Korp] AS NVARCHAR(255))
      ,CAST([Kv] AS VARCHAR(12))[Kv]
      ,CAST([Adres] AS NVARCHAR(255))
FROM [PrikNaselenie].[dbo].Perepis_460026$) AS t
