SELECT  *
FROM [prik].[dbo].[Perepis]
WHERE pol IS NULL
  
  --ALTER TABLE Perepis ADD W [int] NULL
  
  --UPDATE [prik].[dbo].[Perepis] SET W = CASE WHEN pol = 'М' THEN 1 
		--									 WHEN pol = 'Ж' THEN 2
		--									 WHEN pol = '1' THEN 1
		--									 WHEN pol = '2' THEN 2
		--								ELSE NULL END		
  --FROM [prik].[dbo].[Perepis]
  
  UPDATE [prik].[dbo].[Perepis] SET W = CASE WHEN ot LIKE '%вич' THEN 1 
											 WHEN ot LIKE '%вна' THEN 2
										ELSE W END		
  FROM [prik].[dbo].[Perepis]
  WHERE pol IS NULL
  
  SELECT w, COUNT(*)
  FROM [prik].[dbo].[Perepis]
  GROUP BY w
  
  SELECT ot, pol, w, CASE WHEN ot LIKE '%вич' THEN 1 
						  WHEN ot LIKE '%вна' THEN 2
					 ELSE W END		
  FROM [prik].[dbo].[Perepis]
  WHERE pol IS NULL
  