SELECT s.*--p.Uchastok 'Участок', COUNT(*) 'Количество' --s.fam, s.im, s.ot, s.dr, s.[data_post], [adress], p. *
FROM [ssmp1] s 
INNER JOIN PerepisByRMS p ON s.fam = p.FAM AND s.im = p.IM AND s.ot = p.OT AND s.dr = p.dr 
WHERE kodlpu = '460026' --AND doctor_snils IS NOT NULL 
AND 2015 - YEAR(p.dr) > 17
--GROUP BY p.Uchastok
