DECLARE @reestr INT = 79

SELECT 
YEAR(pv.DR) год, NULL месяц, COUNT(*) 'Всего',
SUM(CASE WHEN  pv.HelpResult in (317,321,327,332,337,343,347) THEN 1--pv.SUMV
		   END) as 'Первая группа',
		   SUM(CASE
			WHEN pv.HelpResult in (318,322,328,333,338,344,348) THEN 1--pv.SUMV
		   END) as 'Вторая группа',
		   SUM(CASE
			WHEN pv.HelpResult in (319,323,329,334,339,345,349) THEN 1--pv.SUMV
		   END) as 'Третья группа',
		   SUM(CASE
			WHEN pv.HelpResult in (324,330,335,340,350) THEN 1--pv.SUMV
		   END) as 'Четвертая группа',
		   SUM(CASE
			WHEN pv.HelpResult in (325,331,336,341,351) THEN 1--pv.SUMV
		   END) as 'Пятая группа'

FROM PacientVisit AS pv
WHERE pv.ReestrMedOrgID = @reestr
AND pv.OsobSluch = 11
AND YEAR(dr) NOT IN (2015, 2016)
GROUP BY YEAR(pv.DR)

UNION ALL

SELECT 
YEAR(pv.DR) год, MONTH(pv.DR) месяц, COUNT(*) 'Всего',
SUM(CASE WHEN  pv.HelpResult in (317,321,327,332,337,343,347) THEN 1--pv.SUMV
		   END) as 'Первая группа',
		   SUM(CASE
			WHEN pv.HelpResult in (318,322,328,333,338,344,348) THEN 1--pv.SUMV
		   END) as 'Вторая группа',
		   SUM(CASE
			WHEN pv.HelpResult in (319,323,329,334,339,345,349) THEN 1--pv.SUMV
		   END) as 'Третья группа',
		   SUM(CASE
			WHEN pv.HelpResult in (324,330,335,340,350) THEN 1--pv.SUMV
		   END) as 'Четвертая группа',
		   SUM(CASE
			WHEN pv.HelpResult in (325,331,336,341,351) THEN 1--pv.SUMV
		   END) as 'Пятая группа'
FROM PacientVisit AS pv
WHERE pv.ReestrMedOrgID = @reestr
AND pv.OsobSluch = 11
AND YEAR(dr) IN (2015, 2016)
GROUP BY YEAR(pv.DR), MONTH(pv.DR)