DECLARE @st NVARCHAR(10) = '1/1/12'

--SELECT CASE WHEN (PATINDEX('%[/12', [DATEOUT]) != 0) OR (PATINDEX('%[/15', [DATEOUT]) != 0) 
--THEN 
--	CASE WHEN PATINDEX('%[/12', [DATEOUT]) != 0 
--		THEN STUFF(DATEOUT, PATINDEX('%[/12', [DATEOUT]) -1, 0, '20')
--		ELSE STUFF(DATEOUT, PATINDEX('%[/15', [DATEOUT]) -1, 0, '20')
--	END 
--ELSE DATEOUT END 	

--FROM Nsi_specialization
--UPDATE [SZV].[dbo].[Nsi_specialization] SET [DATEOUT] = CASE WHEN (PATINDEX('%[/12', [DATEOUT]) != 0) OR (PATINDEX('%[/15', [DATEOUT]) != 0) 
--THEN 
--	CASE WHEN PATINDEX('%[/12', [DATEOUT]) != 0 
--		THEN STUFF(DATEOUT, PATINDEX('%[/12', [DATEOUT]) -1, 0, '20')
--		ELSE STUFF(DATEOUT, PATINDEX('%[/15', [DATEOUT]) -1, 0, '20')
--	END 
--ELSE DATEOUT END 	

--UPDATE [SZV].[dbo].[Nsi_specialization] SET datei =  NULL
--WHERE datei = '19000101'

ALTER TABLE [Nsi_specialization] ALTER COLUMN REL INT


--   --; CONVERT(datetime, @st, 102)

----UPDATE [SZV].[dbo].[Nsi_specialization] SET datei = 

--SELECT STUFF(DATEOUT, 2, 0, 'ijklmn'); 