SELECT 
(SELECT ysme.FIO  FROM Yamed_Spr_MedicalEmployee AS ysme WHERE ysme.SNILS = sl.IDDOKT), sum(sl.ED_COL)[ует]--, COUNT(*)[количество]
FROM D3_ZSL zsl
JOIN PACIENT pa on zsl.D3_PID = pa.ID
join D3_SL sl on sl.d3_zslid=zsl.id
WHERE zsl.D3_SCID = 2061 AND sl.PROFIL IN (85,86,87,88,89,90) AND zsl.OS_SLUCH_REGION IS NULL
GROUP BY sl.IDDOKT
--AND sl.ED_COL IS NULL

/*******************************************
 * По дням
 *******************************************/
SELECT 
(SELECT ysme.FIO  FROM Yamed_Spr_MedicalEmployee AS ysme WHERE ysme.SNILS = sl.IDDOKT), 
zsl.DATE_Z_2,
sum(sl.ED_COL)[ует]--, COUNT(*)[количество]
FROM D3_ZSL zsl
JOIN PACIENT pa on zsl.D3_PID = pa.ID
join D3_SL sl on sl.d3_zslid=zsl.id
WHERE zsl.D3_SCID = 2061 AND sl.PROFIL IN (85,86,87,88,89,90) AND zsl.OS_SLUCH_REGION IS NULL
GROUP BY sl.IDDOKT, zsl.DATE_Z_2


/*******************************************
 * Детально по врачу
 *******************************************/
SELECT *
FROM (
SELECT pa.FAM, pa.IM, pa.OT, pa.DR, sl.DATE_1, sl.DATE_2,
(SELECT ysme.FIO  FROM Yamed_Spr_MedicalEmployee AS ysme WHERE ysme.SNILS = sl.IDDOKT)doc, 
sl.ED_COL 
--sum(sl.ED_COL)[ует]--, COUNT(*)[количество]
FROM D3_ZSL zsl
JOIN PACIENT pa on zsl.D3_PID = pa.ID
join D3_SL sl on sl.d3_zslid=zsl.id
WHERE zsl.D3_SCID = 2061 AND sl.PROFIL IN (85,86,87,88,89,90) AND zsl.OS_SLUCH_REGION IS NULL) AS t
WHERE doc LIKE 'павл%' AND  DATE_2 IN ('20180307', '20180323')--BETWEEN '20180307' AND '20180327'
ORDER BY t.DATE_1