ALTER TABLE [ZFactMedicalEventOnk] ADD Kfr INT NULL
ALTER TABLE [ZFactMedicalEventOnk] ADD Wei NUMERIC(4,1) NULL
ALTER TABLE [ZFactMedicalEventOnk] ADD Hei INT NULL
ALTER TABLE [ZFactMedicalEventOnk] ADD Bsa NUMERIC(3,2) NULL