SELECT rmod.R_NAME + ' ' + cast(rmod.R_YEAR AS varchar) AS 'Дата реестра', 
ISNULL((SELECT cast(kg.KSG_ID AS varchar) + ' ' + kg.KSG_NAME
        FROM KSG_GROUP AS kg WHERE kg.ID = pv.KsgID), pv.KsgID) AS 'Номер КСГ', sumv  AS 'Сумма'
FROM PacientVisit AS pv
INNER JOIN ReestrMedOrgDb AS rmod ON rmod.ID = pv.ReestrMedOrgID
WHERE pv.ConditionHelp = 2
AND rmod.ID IN (18,20,21,24,26,30,32,34,37,38,40,43) --(45,48,49)
AND pv.Profil IN(97, 75)