SELECT TOP 1000 [ID]
      ,[RegNum]
      ,[Name]
      ,[FullName]
      ,[GRBSCode]
      ,[BIK]
      ,[NomBank]
      ,[AddressID]
      ,[PostalAddress]
      ,[Phone]
      ,[Fax]
      ,[Email]
      ,[Url]
      ,[ContactFirstName]
      ,[ContactLastName]
      ,[ContactMiddleName]
      ,[HeadAgencyID]
      ,[OrderingAgencyID]
      ,[INN]
      ,[KPP]
      ,[OGRN]
      ,[OKOPFID]
      ,[OKPO]
      ,[OKVED]
      ,[OKOGU]
      ,[OrganizationTypeID]
      ,[SubordinationTypeID]
      ,[IsActual]
  FROM [GosZakupki].[dbo].[NSI_Organization]