--SELECT * FROM ReestrMedOrgDb AS rmod
DECLARE @ReestrMedOrgID INT = 5126

SELECT doc, spec, kol, fio, kolemk, (kolemk*100)/kol procent 
FROM(
SELECT 
(SELECT  ISNULL(db.FAM, '') + ' ' + ISNULL(im, '') + ' ' + ISNULL(ot, '')  FROM DoctorBd AS db WHERE db.id = pv.Doctor) doc, 
(SELECT scd.NameWithId FROM v015 AS scd WHERE scd.id = pv.MSPID)spec, COUNT(*) kol
FROM PacientVisit AS pv
WHERE pv.ReestrMedOrgID = @ReestrMedOrgID AND pv.ConditionHelp = 3 AND pv.OsobSluch IS NULL AND (pv.PODR != 2 OR pv.PODR IS NULL AND id NOT IN (3,10))
AND pv.Doctor NOT IN (755, 247,109,107,756,156)
GROUP BY pv.Doctor, pv.MSPID) AS tab
FULL JOIN (SELECT [fio] 
      ,[kolemk]     
FROM ['Количество принятых пациентов ($']
WHERE  fio not IN (
 'Белоус Надежда Николаевна'
,'Болычева Марина Леонидовна'
,'Мартынов Евгений Геннадьевич'
,'Мулеванова Нина Николаевна'
,'Ольховикова Анастасия Владимировна'
,'Сибилева Елена Анатольевна'
,'Телитченко Лариса Алексеевна'
,'Калашников Андрей Анатольевич'
,'Харланов Денис Николаевич'
,'Мяснянкина Галина Николаевна'
,'Пономаренко Дарья Владимировна'
,'ГЕРАСИМЕНКО СЕРГЕЙ ВЛАДИМИРОВИЧ'
,'Системный администратор'
,'Подкосов Денис Сергеевич')) AS tab1 ON tab.doc = tab1.fio 
ORDER BY --spec, 
         doc
                
                
         --Панкова добавить до 90% 