SELECT apo.fam, apo.im, apo.ot, CAST(apo.dr AS DATE) dr, ISNULL(acao.RN, '..') + ' ' + ISNULL(acao.NASPUNKT, '..') + ' ул.' + 
ISNULL(acao.UL, '..') + ' дом-' + ISNULL(acao.DOM, '..') + ' кв.-' + ISNULL(acao.KV, '..'), auo.Uchastok
--(SELECT FAM + ' ' + im + ' ' + ot
--   FROM AttachedUchDoct_ONLINE WHERE ID = apo.ID_DOCT)
  FROM [ElmedOnlineTest].[dbo].[AttachedDispLists_ONLINE] di
  JOIN AttachedPeople_ONLINE AS apo ON apo.ID = di.PID
  LEFT JOIN AttachedCustomAdr_ONLINE AS acao ON acao.PID = apo.ID
  LEFT JOIN (SELECT * FROM AttachedUchastok_ONLINE WHERE HID = 17) AS auo ON apo.UCH_ID = auo.ID AND auo.HID = apo.HID
  --LEFT JOIN AttachedDoc_ONLINE AS ado ON ado.ID = apo.ID_DOCT 
WHERE apo.HID = 17
--AND MoSolutionId IS NULL
AND DispType='ОПВ' 
AND RejectTfomsReasonId IS NULL
ORDER BY  auo.Uchastok, apo.fam, apo.im, apo.ot,apo.dr 