DECLARE @ReestrMedOrgID INT = 5124

SELECT pv.id, pv.*
FROM PacientVisit pv
JOIN ReestrMedOrgDb r ON pv.ReestrMedOrgID = r.ID
JOIN Uslugi AS uv ON uv.SluchID = pv.id
WHERE pv.ConditionHelp = 3 
 AND pv.ReestrMedOrgID = @ReestrMedOrgID
 AND uv.MSPUID IS NULL
 --AND pv.FAM = 'ЧУЙКОВ' AND pv.IM = 'АЛЕКСАНДР'