/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
UPDATE re SET Удержания = S_SUM, Комментарий = S_COM
FROM [elmed].[dbo].[ZreestrEkonom012020] re
LEFT JOIN  (SELECT MAX(sa.S_OSN)S_OSN, sa.D3_ZSLID, sa.D3_SCID, MAX(sa.S_COM)S_COM, MAX(sa.S_SUM) S_SUM
            FROM D3_SANK_OMS sa 
            GROUP BY sa.D3_ZSLID, sa.D3_SCID )AS dso ON [номер законченного случая] = dso.D3_ZSLID 
																	AND [номер счета] = dso.D3_SCID 
																	
																	
SELECT *
FROM [elmed].[dbo].[ZreestrEkonom012020] re
WHERE re.Удержания IS NOT NULL  