BEGIN TRAN
BEGIN TRY
DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT
EXEC [dbo].[versionСheck] 552

ALTER TABLE [ZFactExternalRefuse] ADD [Date] DATETIME
ALTER TABLE [ZFactExternalRefuse] ADD [NumAct] NVARCHAR(30)
ALTER TABLE [ZFactExternalRefuse] ADD [CodeExp] NVARCHAR(8)

EXEC [dbo].[versionUpdate] 553
COMMIT TRAN;		
END TRY
		BEGIN CATCH			
			SET @ErrorMessage= ERROR_MESSAGE()
			SET @ErrorSeverity= ERROR_SEVERITY()
			SET @ErrorState= ERROR_STATE()
			RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState)
			IF (@@trancount > 0) ROLLBACK TRAN						
		END CATCH
IF (@@trancount > 0) ROLLBACK TRAN;