BEGIN TRAN
BEGIN TRY
DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT
		
EXEC [dbo].[versionСheck] 534	

ALTER TABLE [ZFactKsgKpg] ALTER COLUMN Kksg NVARCHAR(20) NULL
	
--DECLARE @NsiAct-------------------------------------------------------------------------------------------
	declare @NsiAct table 
			(
				ID_T numeric(4,0),DS_T nvarchar(3),KOD_T nvarchar(5),T_NAME nvarchar(500),DATEBEG date,DATEEND date
			)

insert into @NsiAct (ID_T,DS_T,KOD_T,T_NAME,DATEBEG,DATEEND) values ('1','C16','Tx',NULL,'20180901',NULL)
insert into @NsiAct (ID_T,DS_T,KOD_T,T_NAME,DATEBEG,DATEEND) values ('2','C16','T0',NULL,'20180901',NULL)
insert into @NsiAct (ID_T,DS_T,KOD_T,T_NAME,DATEBEG,DATEEND) values ('3','C16','Tis',NULL,'20180901',NULL)
--INSERT NEW INTO  NsiCur------------------------------------------------------------------------------------------------------------
	insert into N003 (ID_T,DS_T,KOD_T,T_NAME,DATEBEG,DATEEND)
	select 
	NsiAct.ID_T,NsiAct.DS_T,NsiAct.KOD_T,NsiAct.T_NAME,NsiAct.DATEBEG,NsiAct.DATEEND
	from @NsiAct NsiAct
		left join N003 NSiCur
			on NSiCur.ID_T=NsiAct.ID_T
	where 
		NSiCur.ID_T is null

--UPDATE NsiCur------------------------------------------------------------------------------------------------------------
	update NsiCur set
NsiCur.DATEBEG=NsiAct.DATEBEG,
NsiCur.DATEEND=NsiAct.DATEEND,
NsiCur.ID_T=NsiAct.ID_T,
NsiCur.DS_T=NsiAct.DS_T,
NsiCur.KOD_T=NsiAct.KOD_T,
NsiCur.T_NAME=NsiAct.T_NAME
	from @NsiAct NsiAct
		inner join N003 NsiCur
						on NSiCur.ID_T=NsiAct.ID_T
	where
		isnull(NsiCur.DATEBEG,'19000101')<>isnull(NsiAct.DATEBEG,'19000101') or
isnull(NsiCur.DATEEND,'19000101')<>isnull(NsiAct.DATEEND,'19000101') or
isnull(NsiCur.ID_T,'0')<>isnull(NsiAct.ID_T,'0') or
isnull(NsiCur.DS_T,'')<>isnull(NsiAct.DS_T,'') or
isnull(NsiCur.KOD_T,'')<>isnull(NsiAct.KOD_T,'') or
isnull(NsiCur.T_NAME,'')<>isnull(NsiAct.T_NAME,'') 

EXEC [dbo].[versionUpdate] 535
COMMIT TRAN;		
END TRY
		BEGIN CATCH			
			SET @ErrorMessage= ERROR_MESSAGE()
			SET @ErrorSeverity= ERROR_SEVERITY()
			SET @ErrorState= ERROR_STATE()
			RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState)
			IF (@@trancount > 0) ROLLBACK TRAN						
		END CATCH
IF (@@trancount > 0) ROLLBACK TRAN;