USE GosZakupki
SELECT bp.id, b.[Description] + ' ' + cast(b.[Year] AS NVARCHAR(10)) + ' ' + cast(b.StatusBiddingID AS NVARCHAR(10)),  
REPLACE(REPLACE(bn.Mnn, CHAR(10), ''),CHAR(13),'') Mnn, bn.TorgName,
(SELECT nor.NameWithCode FROM Nsi_OKPD2 AS nor WHERE nor.ID = bp.OKPD2ID )OKPD2ID,
(SELECT ot.NAME FROM Nsi_Otdeleniya AS ot WHERE ot.ID = bp.OtdeleniyaID)OtdeleniyaID,
(SELECT na.NameWithID FROM Nsi_BiddingStatusApproval na WHERE na.ID = bp.StatusApprovalID)StatusApprovalID,
(SELECT nbg.NameWithCode FROM Nsi_BiddingGrupa AS nbg WHERE nbg.ID = bp.GrupaID)OtdeleniyaID,
--(SELECT ns.NameWithCode FROM Nsi_Subkosgu AS ns WHERE ns.ID = bp.SubkusguID )SubkusguID,
bp.BiddingMaxPrice, bp.BiddingKol, if1.NAME, bpo.Kol 'Количество по источнику фин', bpo.Summ 'Сумма по источнику фин.' 
  FROM [GosZakupki].[dbo].[BiddingPosition] bp
  JOIN Nsi_BiddingName AS bn ON bp.NsiBiddingNameId = bn.id
  JOIN Bidding AS b ON b.ID = bp.BiddingID
  LEFT JOIN [GosZakupki].dbo.BiddingPositionOtdel AS bpo ON bpo.BiddingPositionID = bp.ID
  LEFT JOIN IstochnikFinans AS if1 ON if1.ID = bpo.IstochnikFinansID
--WHERE mnn = ' диагностические с желчью'--bpo.Summ != 0.00 AND bpo.Kol IS NOT NULL
ORDER BY bp.id