
UPDATE bp SET OKPD2ID = bn.NsiOrpd2Id, GrupaID = bn.NsiBiddingGrupaId
FROM BiddingPosition AS bp
JOIN [Nsi_BiddingName] bn ON bp.NsiBiddingNameId = bn.ID
WHERE bn.KodMo = 460026 AND IsActual = 1 AND [NsiOrpd2Id] IS NOT NULL AND [NsiBiddingGrupaId] IS NOT NULL
AND bp.OKPD2ID != bn.[NsiOrpd2Id]


