SELECT bp.ContractSubjectName,
(SELECT o.NAME from Nsi_Otdeleniya o WHERE bp.OtdeleniyaID = o.id), bpo.Kol
FROM [BiddingPosition] bp
JOIN BiddingPositionOtdel AS bpo ON bpo.BiddingPositionID = bp.ID
WHERE bpo.IstochnikFinansID IN (1,2)
AND bp.OtdeleniyaID != 11