CREATE TABLE [dbo].[SIGN_DATA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SIGN_TYPE] [nvarchar](20) NULL,
	[MEDECINS_ID] [int] NULL,
	[MOTCONSU_ID] [int] NULL,
	[BODY] [varbinary](max) NULL,
	[SIGN_BODY] [varbinary](max) NULL,
	[SIGN_ROLE] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]





GO
GRANT INSERT ON [dbo].[SIGN_DATA] TO [fer]
GO

GO
GRANT SELECT ON [dbo].[SIGN_DATA] TO [fer]
GO

GO
GRANT ALTER ON [dbo].[SIGN_DATA] TO [fer]
GO

GO
GRANT UPDATE ON [dbo].[SIGN_DATA] TO [fer]
GO

GO
GRANT DELETE ON [dbo].[SIGN_DATA] TO [fer]
GO

GO
GRANT CONTROL ON [dbo].[SIGN_DATA] TO [fer]
GO

GO
GRANT INSERT ON [dbo].[SIGN_DATA] TO [iemk_user]
GO

GO
GRANT SELECT ON [dbo].[SIGN_DATA] TO [iemk_user]
GO

GO
GRANT ALTER ON [dbo].[SIGN_DATA] TO [iemk_user]
GO

GO
GRANT UPDATE ON [dbo].[SIGN_DATA] TO [iemk_user]
GO

GO
GRANT DELETE ON [dbo].[SIGN_DATA] TO [iemk_user]
GO

GO
GRANT CONTROL ON [dbo].[SIGN_DATA] TO [iemk_user]
GO
